[2017-01-24 20:04] faheel opened #1 "Size of input should be a natural number"
Sorting programs may crash if `size` of input values is negative.
Modify the function [`getInputSize`](../../blob/master/Sorting/SortingUtils.h#L18-L21) to check that `size >= 0`. In case it's not, then display:

and prompt to input `size` again (through a recursive call to `getInputSize`).

Also add a condition, that if `size` is 0, the program should display:

and exit.

[2017-01-27 15:02] faheel commented on #1
Issue fixed in #2.

[2017-01-27 15:02] #1 closed, assigned to nobody

[2017-01-27 17:03] faheel opened #4 "Add program that implements counting sort"
Name the source file `RadixSort.cpp` and add it to the `Sorting` directory.

You should use the utility functions from [`SortingUtils.h`](../blob/master/Sorting/SortingUtils.h).

For an overview of how the code should be structured, view implementations of [other sorting algorithms](../blob/master/Sorting), and also go through the C++ Coding Guidelines, if your implementation is in C++.

Also add

[2017-01-29 19:35] torquecoder opened #5 "Add implementation of Disjoint Set data structure"

[2017-01-30 18:37] faheel commented on #4
Closed in #6.

[2017-01-30 18:37] #4 closed, assigned to nobody

[2017-01-30 21:56] faheel opened #8 "Mention time and space complexities in comments"
For each algorithm, mention its _time complexity_ and _space complexity_ in the "description comment" of its implementation program.

The format for the "description comment" (which is written at the beginning) should be:
[code]

Following are the algorithms for which time and space complexity hasn't been added yet:
- [x] N-Queens
- [x] Kadane
- [x] Binary search
- [x] Bubble sort
- [x] Counting s

[2017-02-06 19:36] faheel opened #11 "Add graph traversal algorithms"
Create a folder named `Graph` in the root directory. Inside it, the following graph traversal algorithms are to be added:
- [Breadth-first search](https://en.wikipedia.org/wiki/Breadth-first_search) (in `Traversal/BreadthFirstSearch.cpp`)
- [Depth-first search](https://en.wikipedia.org/wiki/Depth-first_search) (in `Traversal/DepthFirstSearch.cpp`)

Use either an _adjacency list_ (recommended) or a

[2017-02-08 15:36] Satch97 opened #13 "Heap sort"
Hey I'm Satchin, a fellow CE student, I noticed there weren't any algorithms in the repo/pull for heapsort and a few other.

- May I take the task up of adding this?

- And if there are any others do I just simply create the pull request for each?

[2017-02-08 18:05] faheel commented on #13
Yes @Satch97, you are very much welcome to suggest/add algorithms to the repo!

If you want to contribute by adding an implementation of an algorithm, following are a few guidelines you should follow:
 - Comment your code properly!
 - For programs on sorting, in C++, use the utility functions from [`SortingUtils.h`](../blob/master/Sorting/SortingUtils.h).
 - To get an idea of how the code should b

[2017-02-09 14:49] ilayaraja97 commented on #8
I think its a good idea to put this in the readme or coding guidlines.

[2017-02-09 14:56] ilayaraja97 opened #14 "Can I add these algos, and where?"
I want to add algorithms like
* Karastuba's Fast Multiplication
* Fast Power
* GCD
* Is Prime

Where should I add it. Or shouldn't I ?

[2017-02-09 15:50] faheel commented on #8
Yes. Thanks for the suggestion!

[2017-02-09 15:57] faheel commented on #14
Sure you can!

Add them to the [`NumberTheory`](../tree/master/NumberTheory) dir.

[2017-02-09 16:03] faheel opened #15 "Add general contributing guidelines"
Create `CONTRIBUTING.md` containing general contributing guidelines like adding _description comment_ to each file, links to language-specific coding guidelines such as C++ Coding Guidelines, and more.

[2017-02-16 14:44] #14 closed, assigned to nobody

[2017-02-19 20:06] faheel opened #21 "Basic BigInteger class to handle big numbers of arbitrary length"
Create a data structure that can handle numbers of arbitrary length by writing a `BigInteger` class that supports the following basic mathematical functions:
- add
- subtract
- multiply
- divide
- modulo

by overloading existing operators for each function (`+`, `-`, `*`, `/`, `%`)

The class should also use overloaded `>>` and `<<` operators to get input from the standard input stream (`std::cin`

[2017-02-22 06:19] siaswar commented on #21
Is there will be BigFloat or just BigInteger?

[2017-03-01 21:31] cssartori opened #26 "String Processing Algorithms"
Hi,
What about String Processing Algorithms, such as the classic Knuth-Morris-Pratt (KMP) and the Needleman-Wunsch? Can I work on those to add to the project?

[2017-03-02 02:13] faheel commented on #26
Yes, absolutely!

You can create a directory named `String` and add them there.

[2017-03-02 02:17] cssartori commented on #26
Nice, will do it :)

[2017-03-04 15:13] faheel commented on #15
Addressed in [commit 6c31e86](../commit/6c31e868c43984ec13d3a436d3e282b49e754acb).

[2017-03-04 15:13] #15 closed, assigned to faheel

[2017-03-08 18:16] seanhouser opened #28 "Bit Manipulation algorithms"
I would like to implement bit manipulation algorithms, is this something that would fit well with your project? If so, let me know how you would like the files organized and I'll be happy to get started!

[2017-03-08 20:40] faheel commented on #28
A "bit-manipulation algorithm" would be something that simply does bit-manipulation -- just as a sorting algorithm does sorting, and a searching algorithm does searching. But bit-manipulation ... is just bit-manipulation (left-shift, right-shift, XOR etc.). I don't think what an algorithm for bit-manipulation would help achieve.

In case you were thinking of algorithms that use bit-manipulation te

[2017-03-08 21:24] seanhouser commented on #28
Ok, thanks for the feedback.

[2017-03-09 01:34] #28 closed, assigned to nobody

[2017-03-12 09:47] faheel commented on #21
Since this task was difficult to take on by beginners, and also since there wasn't any progress on it either, I have implemented the class and have written code for overloaded:
- constructors,
- assignment operators,
- relational operators, and
- I/O stream operators.

You can take a look at the progress made so far on the **`dev`** branch [here](../blob/dev/DataStructures/BigInteger).

What remai

[2017-03-12 13:14] faheel commented on #5
Addressed in #7

[2017-03-15 20:54] faheel opened #29 "Refactor code for sorting programs"
Refactor code for **sorting** programs to be consistent with [C++ coding guidelines](../blob/master/C++_CODING_GUIDELINES.md).

[2017-03-15 20:56] faheel commented on #26
Closed in #27.

[2017-03-15 20:56] #26 closed, assigned to nobody

[2017-03-16 03:43] vulnguard opened #30 "Tests"
I'm interested in writing test code for these algorithms, will as much code coverage as possible. Is that something you would like to have in this project?

[2017-03-16 08:15] faheel commented on #30
Yes @Number1n00b, I too was thinking about adding unit tests and using TDD approach (and also measuring and increasing code coverage), but I do not have much idea as to how to implement these. So I decided to look up books on this topic and found [one](https://pragprog.com/book/lotdd/modern-c-programming-with-test-driven-development), which I'm going through currently. Only after reading some topi

[2017-03-16 10:00] vulnguard commented on #30
The only experience i have with code testing is in Java using JUnit, a framework designed to allow you to conduct multiple unit tests with relative ease.

I'm interested in applying my knowledge of JUnit testing to a CPP framework, although I have not researched it much yet. I've heard good things about Visual Studio for code testing as it has integrated code coverage.

I think the best thing I ca

[2017-03-17 01:16] seanhouser commented on #21
I actually had begun work on this a few days before you posted your implementation! I have used a stack-based approach and implemented `>>, <<, +, *, >, <, ==` operators in my own file that I planned to submit with my first ever pull request. Would you be interested in me submitting my stack-based approach alongside your implementation? I'll also be interested in completing your implementation.

[2017-03-17 12:36] faheel commented on #21
You should have commented on the issue letting others know that you've started working on it.

Can you share a [gist](https://gist.github.com) of your implementation so that I can have a look at it and then decide what to do?

[2017-03-17 12:49] faheel commented on #30
Keep in mind that the testing framework should be cross-platform, lightweight and easy to install on all major platforms (Linux, Windows, macOS).

Using Visual Studio would make the project platform-dependent since Visual Studio is only available for Windows.

I suggest you take a look at [Google Test](https://github.com/google/googletest) and [Boost Test Library](http://www.boost.org/doc/libs/1_4

[2017-03-17 13:08] vulnguard commented on #30
Okay, thanks. I'll have a look into those.

[2017-03-17 14:25] seanhouser commented on #21
Of course you're right, lesson learned. This is my first experience with contributing to an open source project, I appreciate your patience and assistance. I'll be happy to share the code I have so far.
[gist](https://gist.github.com/seanhouser/dd601e4ec1a280c1658d6a8eaeddb255)

[2017-03-18 08:24] faheel commented on #21
Your stack-based approach seems to be a bit complicated to me. A string or array based approach is easier to understand as well as to implement. Also, there will be some operations that would take constant time to run when implemented using a string/array based approach, whereas it would take the same operation linear or logarithmic time to run when implemented using a stack-based approach.

For e

[2017-03-18 14:21] seanhouser commented on #21
Thank you for the feedback! I completely agree, I thought a stack-based approach would result in better time complexity but your string-based is clearly better for readability and performance. There are other problems with my approach, even as complex as my existing code is a complete implementation would be even more complex, as my code doesn't yet account for negative numbers.

I would like to a

[2017-03-18 17:01] faheel commented on #21
I suggest that you:

1. Create a branch in your fork (make sure the branch is made from the `dev` branch and not `master`)
2. Make some changes
3. Commit your changes and push them to GitHub
4. Create a pull request from that branch comparing it with the `dev` branch (not `master`)

After that you can continue making related changes to that branch, which will be automatically added to your pull re

[2017-03-18 18:46] seanhouser commented on #21
Thank you for the instructions, I believe I have completed them accurately. I will now begin work on the BigInt class, thank you for helping me get setup, the experience was invaluable.

So that I understand correctly, when I push commits from my branch (named "dev-BigInt"), they are automatically added to my Pull Request. At any point you can view my Pull Request with my latest commit and accept

[2017-03-18 20:53] faheel commented on #21
Yes, that's right.

[2017-03-19 08:03] Dehorser commented on #11
I'd love to take this one.

[2017-03-19 08:10] Dehorser commented on #11
How should I represent the vertices? I'm currently using a struct named "vertex."

[2017-03-19 08:14] Dehorser commented on #11
Just kidding. I notice another user has taken this job.

[2017-03-19 10:47] faheel commented on #13
Reopening this since heap sort hasn't still been implemented.

If anyone's interested in taking this up, comment here to let others know.

[2017-03-19 12:19] Satch97 commented on #13
@faheel Hey, I have updated my heap sort implementation pull request, please review.

[2017-03-19 17:18] vaibhav2903 opened #32 "Various tree data structures and related algorithms"
Algorithms on Trees, Union Find, Heaps,Maps,Hashing

[2017-03-19 19:34] faheel commented on #32
Sure! Can you mention some specific ones so that I or someone else can get started on those?

[2017-03-19 20:21] arielyyz commented on #21
Hi I also started to work on it. I think you are using wrong logic for relational operators, when you compare "value" with  ">" it compares the strings in lexicographical order and does not compare numbers. May I make a Pull Request?

[2017-03-19 21:41] faheel commented on #21
It works fine because lexicographical comparison is an operation with the following properties:
- Two ranges are compared element by element.
- The first mismatching element defines which range is lexicographically less or greater than the other.
- If one range is a prefix of another, the shorter range is lexicographically less than the other.
- If two ranges have equivalent elements and are of th

[2017-03-19 21:50] faheel commented on #21
@arielyyz Yes, you're right. Thanks for pointing this out!

And sure, you can make a pull request to fix this.

[2017-03-21 09:11] vaibhav2903 commented on #32
Binary Search Tree: Traversals(recursion and non-recursion) , Insertion, Deletion
AVL Tree: Traversals: (recursion and non-recursion) , Insertion, Deletion
Red Black Trees: Traversals(recursion and non-recursion) , Insertion, Deletion, left Rotate, Right Rotate.
#note I can contribute if you would like me to.

[2017-03-21 14:29] connorkuehl commented on #30
I've been using [Catch](https://github.com/philsquared/Catch), a header-only testing framework and it's been a breeze to get started up, writing and running tests. Might be worth looking into.

[2017-03-21 15:33] faheel commented on #32
Thanks for the info. And sure, you can contribute.

For each algorithm that you want to add, create a separate issue mentioning that you are working on that, and when you open a pull request, mention the issue number in its description.

[2017-03-21 17:46] faheel commented on #30
Catch seems to be perfect for the job! Thanks for the suggestion @connorkuehl! :+1:

I'm not sure how well it integrates with systems like [Travis CI](https://travis-ci.org/) or [Codecov](https://codecov.io/), but that's something for later. Right now, for local testing, I'll add the single-header version of Catch to the repo, along with simple unit tests for either binary search or Fibonacci.

[2017-03-22 02:20] tuckerpo opened #34 "Linked list"
Hello, I could add a template LinkedList I made some time ago for my Data Structures and Algs class, updated for C++11 of course. It would require adding both a .cpp and an interface file if that's alright.

[2017-03-22 05:11] varunjm opened #35 "Binary search tree (Recursive and non recursive)"
This needs implementation as discussed in [this issue](https://github.com/faheel/Algos/issues/32). I will start working on it.

[2017-03-22 22:33] ghost opened #36 "Radix Sort"
Hello, I noticed you don't have radix sort in here. Would you mind me contributing one?

[2017-03-25 09:40] vaibhav2903 opened #40 "Red-black trees"
I will implement the RedBlack trees and its important features

[2017-03-28 10:21] Anamika28 commented on #8
Name of algorithm: Binary Search
    Binary search algorithm is a searching algorithm which uses Divide and conquer technique to search the given element. The prior requirements before applying Binary search is that elements should be present in sorted order.

    Time complexity:
    O(nlogn), where n is the number of input elements

    Space complexity:
    O(n), where n is the number of input

[2017-03-28 17:30] faheel commented on #8
Time complexity of binary search is _O_(logN) and it's space complexity is _O_(1)

[2017-03-31 06:09] faheel commented on #30
@Number1n00b I have added the Catch header and unit tests for Fibonacci. To get an idea what changes / additions were done for it, you can take a look at [this commit](../commit/14838e27b7192ec0df60b3c5f3baaf2adcbfeae3).

[2017-03-31 06:28] vulnguard commented on #30
@faheel @connorkuehl Catch looks great! Thanks for the suggestion.

I've been quite bust with university at the moment but I'm excited to write some test cases with catch once I have some more free time.

[2017-04-04 05:47] faheel commented on #30
I'm closing this and creating a new issue to keep track of tests.

[2017-04-04 05:47] #30 closed, assigned to nobody

[2017-04-04 08:42] faheel opened #41 "Unit tests"
Add unit tests for the following programs:
- [x] N-Queens
- [x] Kadane
- [x] LCS
- [x] KMP
- Searching
	- [x] Common test for linear search and binary search
	- [ ] Ternary search*
- Sorting
	- [x] Common test
	- [ ] Radix sort

\* Ternary search currently has a unit test but it needs to be refactored.

[2017-04-09 17:33] faheel opened #43 "Primorial"
Implement an algorithm for calculating the [primorial](https://en.wikipedia.org/wiki/Primorial) of a given prime number _P<sub>n</sub>_

[2017-04-12 17:15] seanhouser commented on #21
I'm nearly done with this addition, @faheel would you mind assigning this Issue to me and/or removing the up-for-grabs tag?

[2017-04-13 07:22] faheel commented on #21
Will do :+1:

[2017-04-13 19:00] faheel commented on #13
Closed in #20

[2017-04-13 19:00] #13 closed, assigned to nobody

[2017-04-14 13:18] #29 closed, assigned to faheel

[2017-04-16 04:51] abhishekabk5 commented on #8
Name of algorithm: Bubble Sort
Bubble sort is a simple sorting algorithm that repeatedly steps through the list to be sorted, compares each pair of adjacent items and swaps them if they are in the wrong order.

Time Complexity:
O(n^2), where n is the number of elements in the list.

Space Complexity:
O(1), temporary space for swapping.

[2017-04-16 05:06] abhishekabk5 commented on #8
Name of algorithm: Insertion Sort
Insertion sort is a simple sorting algorithm that builds the final sorted array (or list) one item at a time. Less suitable for large lists.

Time Complexity:
O(n^2), where n is the number of elements in the list.

Space Complexity:
O(1), temporary space for swapping.

[2017-04-16 05:18] abhishekabk5 commented on #8
Name of algorithm: Selection Sort
The selection sort algorithm sorts an array by repeatedly finding the minimum element (considering ascending order) from the unsorted part and putting it at its right place.

Time Complexity:
O(n^2), where n is the number of elements in the list.

Space Complexity:
O(1), temporary space for swapping.

[2017-04-16 05:24] abhishekabk5 commented on #8
Name of algorithm: Merge Sort
Merge sort is a Divide and Conquer algorithm. It divides input array into two halves, recursively calls itself for the two halves and then merges the two sorted halves.

Time Complexity:
O(n*logn), where n  is the number of elements in the list.

Space Complexity:
O(n), where n  is the number of elements in the list.

[2017-04-16 05:44] abhishekabk5 commented on #8
Name of algorithm: Quick Sort
Like merge sort, quick sort is a Divide and Conquer algorithm. It picks an element as pivot and partitions the given array around the picked pivot, then recursively calls itself on those partitions.
Statistically, for large data sets, it amounts to be the fastest sorting algorithm.

Time Complexity:
Worst case ->> O(n^2)
Average case ->> O(n*logn), where n is the numb

[2017-04-16 11:29] faheel commented on #8
@abhishekabk5 For sorting programs, the complexities have already been added.

But your descriptions of the algorithms are much better :+1:. Would you mind sending a PR for those? (It would be a good opportunity to get into open source!)

**NOTE**: For quick sort, the worst-case time complexity would also be _O(N * log(N))_ because this variant of quick sort uses random pivot selection which makes

[2017-04-16 18:43] abhishekabk5 commented on #8
Sure, I'll get to it.

[2017-04-16 20:36] abhishekabk5 commented on #8
@faheel About quick sort, I don't believe that technically, random pivot selection would help in worst case time complexity as an unsorted array can already be considered as random. So, the worst case time complexity would still be O(n^2). Tell me if I'm wrong.

Also, in that case, random selection is redundant. It should be removed.

[2017-04-16 22:10] abhishekabk5 commented on #8
@faheel About quick sort, I don't believe that technically, random pivot selection would help in worst case time complexity as an unsorted array can already be considered as random. So, the worst case time complexity would still be O(n^2). Tell me if I'm wrong.

Also, in that case, random selection is redundant. It should be removed.

[2017-04-17 19:35] tb25 commented on #8
**_Binary Search_**
-------------------
Divide and conquer algorithm -
Given an array of presorted integers: A(0), A(1), A(2), ... , A(n-1) and and a target value X, find and return i such that X = A(i) or return -1 if X is not in the list.

**Solution**:
 - _recursive_:
check if the middle value is X and return if it is, else if the middle value is greater to X then search the left side of the li

[2017-04-17 22:05] faheel commented on #8
@abhishekabk5 The randomised version of quick sort selects a pivot randomly for a given range of indices, and then partitions the elements around this randomly selected pivot. Therefore, the **expected** worst-case time complexity comes out to be _O(N * log(N))_ (see **§3.4** in [this document](http://www.cs.cmu.edu/~avrim/451f11/lectures/lect0906.pdf) for a detailed proof).

The **absolute** wors

[2017-04-17 22:31] faheel commented on #8
@tb25 The overhead space of the call stack is not considered while calculating the space complexity of recursive functions. Moreover, the implementation of binary search here uses tail recursion which eliminates the stack overhead (if the compiler optimises for it).

[2017-04-17 23:08] tb25 commented on #8
@faheel so you're saying that the space complexity of the recursive algorithm is O(N) or O(1)?

[2017-04-17 23:13] tb25 commented on #8
**_Binary Search_**

Divide and conquer algorithm -
Given an array of presorted integers: A(0), A(1), A(2), ... , A(n-1) and and a target value X, find and return i such that X = A(i) or return -1 if X is not in the list.

Solution:

recursive:
check if the middle value is X and return if it is, else if the middle value is greater to X then search the left side of the list, this dividing the searc

[2017-04-25 08:28] #5 closed, assigned to nobody

[2017-04-26 11:51] romilpawar opened #48 "Bad Character Algorithm"
i would like to add the bad character heuristic of the famous boyer moore algorithm

[2017-04-30 04:39] Satyamjay opened #49 "Adding a Tower of Hanoi problem"
Tower of hanoi is a classic example of recursion.I think it should be added in the list.

[2017-04-30 10:46] faheel commented on #49
To contribute code for this issue, create a folder named `Recursion`, which would have a file named `TowerOfHanoi.cpp`.

[2017-05-05 21:13] Hossam-Tarek opened #51 "Add Shell sort"
I think Shell sort algorithm will be a good add

[2017-05-09 18:30] #51 closed, assigned to nobody

[2017-05-12 20:35] JuOllie opened #54 "Adding a Problem that Sorts an Array in the Wave Form"
Hey, I haven't come across this one among all the other algos that have been listed.Wanted to know if I could contribute to this one.

[2017-05-13 08:47] faheel commented on #54
Can you tell me more about it? What the algorithm is for and how it works?

[2017-05-15 20:32] JuOllie commented on #54
Yeah,sure.It's also called wiggle sort where a[0] <= a[1] >= a[2] <= a[3]>=a[4]  and so on i.e. Alternating increasing and decreasing values.
There's are two approaches based on the conditional:
1. Sorting the array in ascending order and then starting by arranging the lower elements in odd positions (LHS to RHS).
While the higher numbers can be placed from the other direction(RHS to LHS),in the e

[2017-05-17 08:37] knotman90 opened #55 "Euler Totient function"
What about writing some code for computing the euler totient function?

It is defined as follows:
Given an integer `n` how many number `<n` are coprime with it?

It is a very common constant in number theory.

https://en.wikipedia.org/wiki/Euler%27s_totient_function

Would you mind if I submit a PR on this?

[2017-05-17 08:53] faheel commented on #54
@JuOllie Yes sure, you can contribute to this. But since this isn't really a _sorting algorithm_ but instead a _rearranging algorithm_, I'm not sure at the moment where to add it. So you can create a folder named 'Other' and add it there for now.

[2017-05-17 09:01] JuOllie commented on #54
Sure @faheel ,I'll do that.

[2017-05-17 09:01] faheel commented on #55
@knotman90 Yes, you can definitely submit a PR for this. In fact I was thinking about adding it a few weeks ago but didn't get the time.

You can add the code in a file named `EulerTotient.cpp` in the `NumberTheory` folder.

[2017-05-17 17:07] JuOllie commented on #54
I have made a Pull Request at https://github.com/faheel/Algos/pull/56

[2017-05-17 20:33] JuOllie commented on #54
The Modified pull request to the master branch is at #57

[2017-05-18 21:34] faheel commented on #54
@JuOllie While reviewing your PR I realised that a much **simpler solution** can be made for this problem, with the same time and space complexities of _O_(N) and _O_(1) respectively. Here's my approach:
[code]
Also since the operation for each condition is the same (to swap `a[i]` and `a[i - 1]`), the solution can be made more concise by grouping the 4 conditions into a single `if` condition, and

[2017-05-23 20:39] Korel commented on #49
Hello, i was looking for some basic ideas to start coding and found this issue. I wrote some code from a basic algorithm from Wikipedia and it might not be ideal but it would be great if you could give some feedback. It says "We don't support that file type" for .cpp, i don't know why. So i am sending the .cpp file in a zip. Thanks in advance and have a nice day.
[TowerOfHanoi.cpp.zip](https://git

[2017-05-24 00:17] faheel commented on #49
Hi @Korel!
Since you are new to programming, I suggest that you first take a look at the repository, clone it, try compiling existing code, run it, mess around with it, tweak it, add something new etc., while learning about **Git** - the version control system, and also about **GitHub** - this website that uses Git at the back-end (behind the scenes) while also providing many useful features for m

[2017-05-29 00:00] auh2oj opened #58 "B+ Trees"
I would like to add code for B+ trees that supports insertion, traversal, and key search.

[2017-05-29 11:45] faheel commented on #58
Thanks for your interest @auh2oj, you sure can contribute code for B+ trees.

I suggest that you create a folder named `B+ tree` in the `DataStructures` folder, and add your code there.

[2017-05-29 13:33] faheel opened #59 "Add documentation for all data structures and algorithmic functions"
Add a README to each directory containing proper documentation for algorithms or data structures in that directory.

[2017-05-29 13:42] faheel commented on #36
Sure @pperrotta03, you can contribute code for radix sort. Add it to a file named `RadixSort.cpp` in the `Sorting` directory.

P.S. Sorry for the late reply. I had read your issue a long time ago, but couldn't reply as I was busy. And then I forgot replying to it later :sweat_smile:

[2017-06-03 17:53] sriram-25 opened #60 "Sudoku Solver using Backtracking"
I would like to add a program for solving Sudoku using backtracking.

[2017-06-03 19:52] sriram-25 commented on #59
What all should the documentation contain? For eg. Time Complexity,Working of the Algorithm?
@faheel

[2017-06-04 10:27] faheel commented on #60
@sriram-25 You can add the Sudoku solver to `Sudoku.cpp` in the `Backtracking` folder.

And for graph algorithms, I'll soon add the graph data structure (both directed and undirected) which you and others can use to implement graph algorithms.

[2017-06-04 11:33] faheel commented on #59
For now the documentation will not include the working details of the algorithm but only information about the "interface" of various functions, i.e. about:
- what the function does,
- its inputs,
- its output (return value), if any,

along with (wherever necessary),
- time complexity,
- space complexity.

The inputs, variables and output will have their type, name and a single line description. T

[2017-06-07 10:03] ritwik12 opened #63 "Bucket sort"
Hey,
Bucket sort is not included . I would like to include it too.
Also according to issue #36 radix sort is still not there, I would like to add that too.

[2017-06-14 11:47] cppxor2arr opened #69 "make algorithms generic (templated)"
I notice it seems like all the functions that implement algorithms take in a specific container as part of the argument (std::vector it seems like). I think these functions should be templated and made generic. If the container cannot be worked on by the function then a compile error should occur.

[2017-06-19 02:44] pythagoraskitty commented on #69
I would be interested in trying to help.  May I please have a try?

Thanks,
pythagoraskitty

[2017-06-19 06:33] cppxor2arr commented on #69
Yes, you could try and create a pull request. While templating the functions some `std::vector` specific member functions might need to be changed to be more generic. I would help, but right now I have to study for tests.

[2017-06-21 13:16] HekpoMaH opened #70 "Graph algorithms"
Hello, do you have any graph algorithms implemented. I'd like to contribute with some if u haven't. I'll try to add one algo per week.

[2017-06-21 23:33] faheel commented on #70
Thanks for your interest @HekpoMaH! I'll soon be adding the graph data structures (directed and undirected) which you and others can use to implement graph algorithms.

[2017-06-22 07:59] HekpoMaH commented on #70
Tbh IDK in what format you want the representation. Depending on needs I just use array of vectors (vector<int>[] for list representation) or 2d array (for matrix representation) or both when needed. What data structures are you adding?

[2017-06-22 16:56] faheel commented on #70
@HekpoMaH I'm adding two classes, one each for directed and undirected graphs, each having two versions which use either an adjacency list or an adjacency matrix as the underlying data structure. A usage example for one of those is as follows:
[code]

The reason for adding these classes is so that everyone will have a common data structure to implement graph algorithms on, which will make the code

[2017-06-22 17:05] HekpoMaH commented on #70
Makes sense, but what about other graph representations? Consider Dinitz algorithm, where you might want to represent it as doubly linked list of the edges. Are we free to use other representations, whenever these are not applicable?
Another question is how much you aim your code to be OOP i.e. files with classes for data structures that the algo uses, as I usually write my algorithms in one "big"

[2017-06-22 23:01] pythagoraskitty commented on #69
Thank you!  I'll give it a go!

[2017-06-23 05:07] faheel commented on #70
Yes, you can use other representations where its necessary.
And as for programming paradigm, I use classes to define data structures, and in programs that don't require any user-defined data types, I use modular (procedural) programming. File size doesn't matter. The program should be easily readable and well-documented.

[2017-06-23 05:41] #35 closed, assigned to nobody

[2017-06-23 06:42] cppxor2arr commented on #69
Next time, keep in mind faheel is the owner of this repository. Not me.

[2017-06-23 07:00] HekpoMaH commented on #70
Waiting to add the data structures then :).

[2017-06-26 09:37] sarfrazbaig opened #72 "Linked list algorithms"
There is no linked list data structure present here. Can I add some commonly used linked list algorithms like reversing a linked list, floyd-cycle finding algortithm etc.

[2017-06-26 19:06] faheel commented on #72
@sarfrazbaig Issue #34 is about linked lists, related to which there is PR #39 which is under review. Once it gets merged, you can use it to add related algorithms if you are interested :)

[2017-06-29 06:17] Rajiv2605 commented on #63
Can I contribute to this? This would be first open source contribution and it would be great if you could tell me how to go about it.

[2017-06-29 06:43] ritwik12 commented on #63
BucketSort is already contributed by me with PR #64 . You may work on Radix sort.

[2017-06-29 07:30] Rajiv2605 commented on #63
Okay, I will do the Radix Sort.

[2017-06-29 11:40] yumyumbird commented on #59
I'd like to take care of that.

[2017-06-29 20:17] Rajiv2605 commented on #63
I have submitted a pull request named "Created Radix Sort" with the Radix Sort code. Please review it.

[2017-06-30 19:12] ritwik12 commented on #63
@faheel  is the owner of this repository. He will review and merge it @Rajiv2605 .
:)

[2017-06-30 19:14] ritwik12 commented on #63
@faheel  is the owner of this repository, So only he can review and merge it @Rajiv2605 :)

[2017-07-02 21:10] faheel opened #74 "Continuous integration"
## To-do
- [x] Reorganise the project
- [x] Write a Makefile to automate compilation, building and testing
- [x] Integrate with Travis CI and AppVeyor

### References
- https://github.com/faheel/Sample-Cpp-CI

[2017-07-05 16:55] ahmad307 opened #75 "Fast Power Algorithm"
Fast Power algorithm isn't present in "Number Theory" folder.  It's an algorithm for calculating exponentiation in O(log(N)) time.
I'd like to contribute by adding it.

[2017-07-05 19:45] faheel commented on #75
It would be nice having it. Go ahead!

[2017-07-06 22:34] faheel commented on #41
Read about [Adding unit tests for C++ code](../blob/master/C++/UNIT_TESTS.md) for step-wise directions.

[2017-07-07 07:26] SKAUL05 opened #79 "Median in a stream of integers"
I would like to add an algorithm that calculates the median in a stream of running integers.
Time Complexity:O(N^2)

[2017-07-07 14:30] OndraSlejtr commented on #69
Is there anyone working on this currently? Can I give it a go?

[2017-07-07 14:38] OndraSlejtr opened #80 "Any implementation of depth-first search?"
I see there is BFS implementation under review in issue #19, however only mention of DFS is in issue #25 that was closed by its author.
Can I give it a go?

[2017-07-07 21:19] faheel commented on #79
Can you please explain what a "stream of running integers" means? I take it that it's different from simply a container (`array`, `vector`, `set` etc.) of integers.

[2017-07-07 21:28] faheel commented on #69
## Note
All those interested in taking this up, please note that after the currently active PRs are dealt with, in order to proceed with #74, the project files will be reorganised and refactored. It would be better if this issue is dealt with once that process is complete.

[2017-07-07 22:52] faheel commented on #80
As I mentioned in issue #70, I will be adding 4 classes for directed and undirected graphs using adjacency matrix and adjacency list representations, but only after issue #74 is taken care of.
Once the classes are added, you can use them to implement graph algorithms.

[2017-07-08 05:18] SKAUL05 commented on #79
We would be given a number containing the number of integers to follow. Taking input of every integer we have to print the median of current set of integers.
e.g when reading 1st element say 5-> median=5
when reading 2nd element say 25-> median =25
when reading 3rd element say 12-> median =12.
like so on...
We will take a vector to push integers sequentially.

[2017-07-08 06:30] faheel commented on #79
Thanks for the clarification! It would be nice to have it in repo.
But I think the time complexity should be **_O_**(N * log(N)). If you use a `std::set` or a `std::multiset`, each insertion will be an **_O_**(log(N)) operation. Then finding the median will be an **_O_**(1) operation as you would simply return the element at index `set.size() / 2` (or the average of `set.size() / 2` and `set.size(

[2017-07-08 06:34] SKAUL05 commented on #79
Yeah it is O(N * log(N)) but i am using a vector and then inserting new element by finding upper_bound as the stream needs to be in increasing order.

[2017-07-08 06:37] faheel commented on #79
Using a set or multiset would be simpler and more efficient. Then why use a vector?

[2017-07-08 06:38] SKAUL05 commented on #79
There is no specific point to use vectors but i'm much more familiar with vectors and since both have same time complexities i preferred vectors.

[2017-07-08 07:41] faheel commented on #79
Only if the stream is in increasing order. Using a multiset, this constraint will be eliminated. And having less constraints is more preferable :)

I would suggest reading up on [`std::multiset`](http://en.cppreference.com/w/cpp/container/multiset) and using it to implement the algorithm. [`std::advance`](http://en.cppreference.com/w/cpp/iterator/advance) will also be of help in accessing element

[2017-07-08 07:44] SKAUL05 commented on #79
The stream is not in increasing order. The stream can be in any order we have to arrange it in increaing order so as to find the median. Only assumption is that there are no duplicates.

[2017-07-08 07:47] faheel commented on #79
If the stream is not in increasing order, using a multiset will be more efficient (**_O_**(N * log(N)) vs a vector (**_O_**(N^2)).

[2017-07-08 07:50] SKAUL05 commented on #79
Okay i will look into it.

[2017-07-09 02:51] #8 closed, assigned to nobody

[2017-07-09 12:09] janos-laszlo commented on #43
In the reference that you gave there are two definitions, which one should I use?
Pn should symbolize the first n prime numbers, or the prime numbers less than Pn?

[2017-07-09 19:25] faheel commented on #43
**P<sub>n</sub>** is the given prime number whose primorial, **P<sub>n</sub>#**, is to be calculated.
The input can be taken in any one of the following ways:
1. Input the value of *P<sub>n</sub>*
1. Input the value of *n*

But the result should be the value of *P<sub>n</sub>#*.

[2017-07-09 19:54] SKAUL05 commented on #79
Hey, I found out a solution to this problem using Heaps. Should I implement it.

[2017-07-10 06:38] faheel commented on #79
If its implementation is as simple as, or much simpler than using a `multiset`, and is as efficient (**_O_**(N * log(N) time and **_O_**(N) space), then sure, you can implement it using heaps.

[2017-07-10 11:16] ShumWengSang commented on #49
I'm not exactly new to programming, but am looking to start helping out in open source projects so as to increase my breadth. If no one is working on this, I would like to dip my hands into it.

[2017-07-10 12:53] janos-laszlo commented on #43
Should I also validate the user input for option 1? In other words to check if Pn is prime.

[2017-07-11 02:04] faheel commented on #43
Yes, P<sub>n</sub> needs to be checked to be prime.

[2017-07-11 05:23] SKAUL05 commented on #79
Hey how should i submit my implementation.

[2017-07-11 08:00] faheel commented on #79
### Here are the steps:
1. Fork the repo to create your own copy
1. Clone your copy to your computer
1. Create a branch, giving it some suitable, but short, name (eg. `stream-median`)
1. Create folders, add code and tests etc.
1. Push the changes to GitHub
1. From your copy on GitHub, you can submit a pull request. Submit it towards the `master` branch.

[2017-07-11 08:12] faheel commented on #49
@ShumWengSang Thank you for your interest in taking this up! However, there already are 2 pull requests (#50 and #53) regarding the Tower of Hanoi problem, one of which is under review and the other is awaiting changes.
If you wish, you can contribute some other algorithm's implementation to the project.

[2017-07-11 14:49] ShumWengSang opened #84 "Point QuadTree"
I see that there are no point quad tree implementation here. Can I give it a go?

[2017-07-12 03:30] ayushagg31 commented on #79
Hi, master, I would like to present you my code link for review, if you think it's good enough for contribution, then tell me, I will send a PR for the same.Here is code link:https://github.com/ayushagg31/codelick/blob/master/DSA/Random-Algorithms/median_from_datastream.C

Also if you can review my repo and tell me about which algo I can contribute from this repo of mine [https://github.com/ayusha

[2017-07-12 03:37] ayushagg31 opened #86 "Median from datastream code for review"
Hi, master, I would like to present you my code link for review, if you think it's good enough for contribution, then tell me, I will send a PR for the same.Here is code link:https://github.com/ayushagg31/codelick/blob/master/DSA/Random-Algorithms/median_from_datastream.C

Also if you can review my repo and tell me about which algo I can contribute from this repo of mine https://github.com/ayushag

[2017-07-12 03:54] ashvinlohiya opened #87 "Matrix Chain Multiplication"
Given n matrices A1, A2, ..., An, to be multiplied, determine how to parenthesize the matrices to minimize the total number of multiplications.

(This would be my first contribution, so I had some questions, and also would it work if I code it in Java? Thanks :) )

[2017-07-12 03:55] ashvinlohiya opened #88 "Depth First Search"
I couldn't find if DFS is done before, if not, I could totally do that. (In java if possible)
Thanks

[2017-07-12 04:28] ayushagg31 opened #89 "Diameter of a tree using BFS/DFS"
Just suggesting, you can add this one too in your repo.

[2017-07-12 05:02] faheel commented on #89
Yes, that would be good. I'll add it once the Tree class and the implementations of BFS and DFS are added. Thanks for the suggestion!

[2017-07-12 05:24] ayushagg31 commented on #89
Adding similar problem link in code of algorithm for better understanding is also helpful and pls reply for the issue #86

[2017-07-12 05:54] faheel commented on #32
Closing this issue as it is too broad. There are now separate issues for each type of tree, and also other data structures. Related conversation may follow there.

[2017-07-12 05:54] #32 closed, assigned to nobody

[2017-07-12 06:14] faheel commented on #84
Quadtree seems like a cool data structure! I didn't know about it before, so thanks for suggesting it :+1:
And yes, you can add it, but please wait until issue #74 is closed.

[2017-07-12 07:53] faheel commented on #86
@ayushagg31 Thank you for your interest in contributing to the repo! An issue regarding "median of a stream of values" already exists as issue #79. **Comment on that issue to follow up this conversation**.

You can contribute implementations of any algorithm or data structure you seem fit. However, before sending the pull request make sure that your code:
- is C++14 compliant and uses modern C++ f

[2017-07-12 07:55] #86 closed, assigned to nobody

[2017-07-12 08:24] faheel commented on #87
@ashvinlohiya Thanks for the suggestion! Having this in the repo would be great :+1:

You are very much welcome to contribute, but please note that I intend to use continuous integration in the project as mentioned in issue #74. So the whole project will be restructured and so I suggest that you wait until issue #74 is closed before contributing.

If you intend to submit code in other languages li

[2017-07-12 08:28] faheel commented on #79
As I have mentioned in other issues that are `On hold`, please wait until issue #74 is closed before sending your pull request.

[2017-07-12 08:35] faheel commented on #11
### Note
As I mentioned in issue #70, I will be adding 4 classes for directed and undirected graphs using adjacency matrix and adjacency list representations, but only after issue #74 is taken care of.
Once the classes are added, anyone interested in taking this up, or other graph algorithms, can send their PRs. Please wait until then.

[2017-07-12 08:55] ayushagg31 opened #90 "String algorithms"
An issue for adding string algorithms -> Z algo, Manachers algo, Rabin-Karp algo.
If you are good with it, I can add them.

[2017-07-12 12:31] ashvinlohiya commented on #87
Thank you for reaching out! This is my first go at Open Source, so nope, I do not have any recommendation. If you know / suggest a framework, I'm happy to look into it and see if I can work with it? :)

[2017-07-12 14:53] faheel commented on #87
You may check out [JUnit](http://junit.org/junit4/).

[2017-07-12 14:55] faheel commented on #90
Sure! But please wait until issue #74 is closed.

[2017-07-12 15:21] ShumWengSang commented on #84
Hi are there anywhere where I can read up on how to get the Time complexity and Space complexity of my functions? I have no idea how to get these...

[2017-07-12 16:56] faheel commented on #84
1. Read this [HackerEarth tutorial](https://www.hackerearth.com/practice/basic-programming/complexity-analysis/time-and-space-complexity/tutorial/) on time and space complexity
1. Read the [Wikipedia article](https://en.wikipedia.org/wiki/Time_complexity) on time complexity
1. Read these University of Texas [lecture notes](https://www.cs.utexas.edu/users/djimenez/utsa/cs1723/lecture2.html) on time

[2017-07-16 10:24] kuldipkumark opened #91 "Priority Queue implementation using heaps."
I would like to contribute the priority queue implementation using heaps.
With operations like insert, getmaxpriority, delmaxpriority.

[2017-07-19 11:36] faheel commented on #91
Sure, that would be good! But please wait until issue #74 is closed.

[2017-07-20 13:39] #75 closed, assigned to nobody

[2017-07-21 00:33] #74 closed, assigned to faheel

[2017-07-21 00:34] faheel commented on #91
Issue #74 is now closed

[2017-07-21 00:34] faheel commented on #90
Issue #74 is now closed

[2017-07-21 00:35] faheel commented on #88
Issue #74 is now closed

[2017-07-21 00:35] faheel commented on #87
Issue #74 is now closed

[2017-07-21 00:36] faheel commented on #84
Issue #74 is now closed

[2017-07-21 00:36] faheel commented on #80
Issue #74 is now closed

[2017-07-21 00:36] faheel commented on #69
Issue #74 is now closed

[2017-07-21 00:37] faheel commented on #59
Issue #74 is now closed

[2017-07-21 00:38] faheel commented on #59
This task can be automated using [Doxygen](http://www.stack.nl/~dimitri/doxygen/).

[2017-07-21 00:39] faheel commented on #79
Issue #74 is now closed

[2017-07-21 00:39] faheel commented on #41
Issue #74 is now closed

[2017-07-21 00:40] faheel commented on #21
Issue #74 is now closed

[2017-07-21 00:41] faheel commented on #11
Issue #74 is now closed

[2017-07-27 02:45] #36 closed, assigned to nobody

[2017-08-02 05:17] SKAUL05 opened #96 "Merging two Binary Search Trees"
I would like to add an algorithm to merge two balanced Binary Search Trees in O(M+N) time, where M is number of nodes in first tree and N is number of nodes in second tree.

[2017-08-04 14:05] karndubey opened #97 "Edit distance algorithm"
I would like to implement edit distance algorithm for strings

[2017-08-06 07:30] SKAUL05 opened #98 "Construct Mirror Tree"
I would like to implement the algorithm for constructing a mirror tree for given binary tree.

[2017-08-08 02:15] yblank1 commented on #40
I would like to work on this one. Should the tree only be able to handle ints?

[2017-08-21 19:35] cosmopockets opened #99 "Implement data validation"
Could we add some data validation functions such as,
make upper case,
make lower case,
get random double,
get random int?

[2017-08-21 20:14] cosmopockets opened #100 "Implementation of Linked List's functions?"

[2017-08-23 20:31] faheel commented on #97
Sure! Create a file named `edit_distance.hpp` under `C++/include/algorithm/string/`, and for the unit test `edit_distance.cpp` under `C++/test/algorithm/string/`

[2017-08-23 21:38] faheel commented on #40
@yblank1 Sure you can!

It would be better if it's generic (templated), which would enable it to handle any data type for which the comparison operators are already defined (such as all the built-in types).

[2017-08-24 12:25] detective-sokka commented on #100
hi i would like to work on this

[2017-08-25 11:18] lp314 opened #101 "Fibonacci search"
I would like to implement Fibonacci search on sorted arrays.

[2017-09-06 19:10] cosmopockets commented on #100
awesome, I am currently working on inserting, deleting, and clearing linkedlist's I will update when I can

[2017-09-09 07:31] anand434 commented on #97
can I add it, it's been not added yet!

[2017-09-09 08:19] faheel commented on #97
@karndubey Have you made some progress on this?

@anand434 You can give it a go if you're interested.

[2017-09-09 08:36] karndubey commented on #97
@faheel I have written the code I need to write unit test and merge the code

[2017-09-10 05:27] anand434 commented on #97
@faheel and @karndubey can you explain me how to do unit test.

[2017-09-10 08:45] khushman1 commented on #87
Hi, this seems to be open, and I'll begin working on it.
Where should I create the file @faheel ? `source/dynamic_programming/matrix_multiplication.cpp`?

[2017-09-10 13:30] faheel commented on #97
@karndubey Good going!

@anand434 You can help me review the code once @karndubey submits the PR. Until then you are welcome to contribute to another issue :smiley:

[2017-09-10 13:33] faheel commented on #87
@khushman1 That's right. The source file should be created as `source/dynamic_programming/matrix_multiplication.cpp` and the unit test as `test/dynamic_programming/matrix_multiplication.test.cpp`

[2017-09-11 14:48] anand434 commented on #97
@faheel thanks

[2017-09-24 07:11] detective-sokka commented on #100
is there anything i need to learn? I am competent at C and C++ and have studied data structures and algorithms

[2017-09-27 09:07] Andreasrn opened #108 "Wiki's content is not working"
When I click on the links provided in "contents" page, it takes me to 404 error. I think it should be fixed.
I've also realized that it's not up to date.

[2017-09-27 11:20] faheel commented on #108
Thanks for pointing this. The Wiki is outdated and is also not required anymore since the contents can be found in the README, so I'm removing the Contents page from it.

[2017-09-27 11:20] #108 closed, assigned to nobody

[2017-09-27 11:26] faheel commented on #101
That's great! Thank you for your interest.

You can add the code in a file named `fibonacci_search.cpp` under `C++/source/searching/` (if the code is in C++).

[2017-09-27 11:40] faheel commented on #100
Issue #34 is regarding linked lists, so if anyone is interested in submitting a PR for it then please comment on issue #34 regarding your interest or progress, as this issue will be closed as a duplicate.

[2017-09-27 11:40] #100 closed, assigned to nobody

[2017-10-02 06:49] luckyagarwal opened #109 "Permutations of a string"
this is useful algorithm to solve some bigger problems.

[2017-10-02 18:48] ankitrai96 opened #111 "Linear search"
Hey, I just came across this repository via Hacktoberfest.
It's pretty interesting and I would like to contribute! I saw that there's a very elementary algorithm missing in "Searching" - Linear Search. I was wondering if I could start off by authoring that?

[2017-10-03 22:30] faheel commented on #111
@ankitrai96 Thank you for your interest! However, there already are 3 pull requests regarding linear search, so I suggest that you contribute some other algorithms or data structures of your choice.

Good luck! :smiley:

[2017-10-03 22:34] faheel commented on #109
Cool! Can you give a few examples of where it might be useful?

[2017-10-04 09:17] Andreasrn opened #113 "Trial division"
Hi there, i'd like to contribute by updating the Trial division algorithm for integer factorization.

[2017-10-08 13:46] tosalonijain opened #116 "Interval tree algorithm"

[2017-10-08 13:49] tosalonijain commented on #116
can i work on this?

[2017-10-10 12:09] pauloamed opened #117 "Dijkstra's algorithm - shortests paths between nodes in a graph"
Hello!
I found your rep via Hacktoberfest and I would like to contribute!!

The algorithm is the Dijkstra's algorithm for finding the shortests paths between one node and the others (n-1) nodes in a graph.

[2017-10-10 12:13] #117 closed, assigned to nobody

[2017-10-11 19:41] faheel commented on #113
Sure, that'd be great! You can add it as `trial_division.cpp` under `C++/source/number_theory/`

[2017-10-12 17:04] nityanandagohain commented on #34
I would also like to contribute

[2017-10-15 17:48] MeLlamoArroz commented on #113
Done Trial Division!

[2017-10-15 20:11] nikki1016 opened #122 "8-puzzle problem using BFS, DFS (stack and recursion) and A* algorithm"
I would like to work on 8 puzzle problem

[2017-10-15 21:51] MeLlamoArroz commented on #101
Done!!

[2017-10-15 21:51] MeLlamoArroz commented on #111
Done!! 😄

[2017-10-15 21:52] MeLlamoArroz commented on #109
Done 👍

[2017-10-16 09:25] Andreasrn commented on #113
I wanted to do it :_ I'll look for another one

[2017-10-16 12:11] MeLlamoArroz commented on #113
I'm really sorry, but it was 12 days ago so i thought you forgot it.
The algorithm could be implemented in 10 minutes or less.

[2017-10-17 15:28] swap-pakhare commented on #88
Can I take this up?

[2017-10-22 16:52] alxmjo opened #129 "Testing sorting algorithms"
I'm trying to write tests for the sorting algorithms. I'm new to Catch (and unit testing in general), but based on my research I would expect this code (along with the rest of the setup you describe in `UNIT_TESTS.md`) to work:

[code]
Unfortunately when I run `make test` from the `C++` directory I receive many, many lines in the terminal that look like this:

[code]

If, however, I include a "dum

[2017-10-23 09:37] Andreasrn commented on #129
Try setting this options

`GCC_GENERATE_TEST_COVERAGE_FILES = NO;`
`GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO;  `

Source: http://imnotyourson.com/xcode-7-unit-testing-super-slow/

[2017-10-23 09:40] Andreasrn commented on #113
No problem, I was waiting for the answer (which came a few days later) and I thought it was going take even longer.

[2017-10-23 13:17] alxmjo commented on #129
Thanks for your advice. I modified the Makefile like so:
[code]
I still get that same error. If, however, I delete the file `C++/build/sorting/bubble_sort.test.gcda` before running `make test` then the building and testing works as I expect it to.

Did I modify the Makefile incorrectly?

[2017-10-26 12:41] faheel commented on #129
@alxmjo The way you've modified the Makefile isn't right. The options suggested by @Andreasrn need to be set somewhere in Xcode's build settings. See https://stackoverflow.com/a/31543058/5245129.

As you yourself found out, a hack around this issue (in case the above solution doesn't work) is to delete all `.gcda` files before running `make test`:
[code]

[2017-10-26 13:02] alxmjo commented on #129
I only have Xcode's Command Line Tools on this machine, no Xcode. I'll just delete that .gcda file before running `make test`.

And since we're on the subject, am I on the right track with this?

[code]

[2017-10-27 10:52] faheel commented on #129
I suggest that you write a single unit test (`test/sorting/sorting.test.cpp`) for all the sorting algorithms, something like the following:
[code]

[2017-10-27 14:50] faheel opened #136 "Add default values to parameters for sorting functions"
Almost all of the sorting functions in this repository have the parameters `order` and `to_show_state` to which the default values `1` and `false` need to be assigned respectively.

[2017-10-28 08:39] #111 closed, assigned to nobody

[2017-10-28 17:54] alxmjo commented on #129
Thanks for your guidance. Definitely a more practical way to go about it. That said, I'm getting this error after filling out the rest of the code and trying to compile:

[code]

Any idea what's up with that? Should the function pointers be passed into the array as `const` values?

[2017-10-28 18:49] alxmjo commented on #136
In my experience default values for parameters are usually added in header files. Since there aren't headers for the sorting files, are you looking for something like like this, with function declarations at the top of the cpp file?

In `bubble_sort.cpp`:

[code]

[2017-10-28 22:04] alxmjo commented on #129
Looks like I was just missing an ampersand here:
[code]

[2017-10-28 22:31] alxmjo commented on #129
I can compile and run this test case as long as I only `#include` one `.cpp` file (`bubble_sort.cpp`). As soon as I try to include others (`insertion_sort.cpp`, etc.) I get all sorts of compiler errors for trying to redefine functions (in `utils.hpp`).

Obviously this could be solved by making some major changes in the design of the testing side of the project, but I wanted to stop and ask for adv

[2017-10-30 15:16] faheel commented on #136
Sorry for the late response. The default values for parameters can be added to the function definition itself. There's no need for a separate declaration of the function in this case.

[2017-10-30 15:37] faheel commented on #129
You can solve the problem by adding an **include guard** in `include/sorting/utils.hpp`, which will prevent it from being included multiple times in the unit test through each sorting program.

[2017-10-30 15:41] alxmjo commented on #129
Of course. I'll do that.

On Mon, Oct 30, 2017 at 8:37 AM, Faheel Ahmad <notifications@github.com>
wrote:

[2017-10-31 13:33] alxmjo commented on #136
Got it. Just submitted a PR: #139.

[2017-10-31 21:16] #136 closed, assigned to nobody

[2017-11-04 10:33] nikki1016 commented on #122
i have done that

[2017-11-07 23:40] alxmjo commented on #129
Moving forward on this but I'm running into another issue I'd like your input on.

The function signature for `bubble_sort` is, generally, `void bubble_sort(vector<int>&, int, bool)`. Same with `counting_sort` (and others). The problem I'm running into is that `heap_sort` and `merge_sort` (and others) use different function signatures. That precludes using a single test case like this:

[code]

Sh

[2017-11-09 00:49] faheel commented on #129
You can do the following to solve the problem:
[code]
Then inside the test case:
[code]

[2017-11-09 00:51] alxmjo commented on #129
Better that way. Thanks! I'll get right on it.

[2017-11-12 14:01] rsarky commented on #91
Can I take up this issue if noone is working on it?

[2017-11-20 14:26] qrort opened #142 "Ternary search"
I wold like to make a ternary search implementation.

[2017-11-21 09:30] jervis446 commented on #142
can i work on this issue?

[2017-11-22 15:47] qrort commented on #142
i've already started working on it

[2017-11-28 14:20] alxmjo commented on #129
How large and small of values do you want me to test sorting algorithms with?

My first thought was to use the `limits` library and get ints in the range of `std::numeric_limits<int>::min()` to `std::numeric_limits<int>::max()`. This works fine for my tests of of bubble sort, but in counting sort the tests fail with a one word error: "vector". When I change the limits to -32767 and 32767 the tests

[2017-11-28 23:09] alxmjo opened #143 "Heap sort erases value"
While writing tests for sorting algorithms I found that the heap sort function erases values, depending on input. Here's an example:

[code]

If you look carefully you'll notice that `-6900` has been removed while `32767` has been added (signaling overflow, perhaps). Running these exact inputs a second time gives the same results. I haven't looked into `heap_sort.cpp` to try to diagnose it yet, bu

[2017-11-28 23:38] alxmjo commented on #143
And here's a link to the testing file that revealed the error: [https://github.com/alxmjo/Algos/blob/sorting-tests/C%2B%2B/test/sorting/sorting.test.cpp](https://github.com/alxmjo/Algos/blob/sorting-tests/C%2B%2B/test/sorting/sorting.test.cpp).

[2017-11-29 18:10] faheel commented on #129
Do the tests with integer limits fail only for counting sort, or for other sorting algos too?

[2017-11-30 19:29] alxmjo commented on #129
Just counting sort. Bubble, insertion, selection, and shell sort work fine.

Here's the error:

[code]

[2017-12-03 21:58] setronn commented on #143
PR #144

[2017-12-04 19:56] #143 closed, assigned to nobody

[2017-12-04 22:12] #142 closed, assigned to nobody

[2017-12-11 20:53] psarvesh commented on #34
@faheel
Is this under works? I don't see the pull request for this.
If this is not under development by anyone, I can start working on this.

[2017-12-12 13:17] faheel commented on #34
@psarvesh There's no active PR for this as of now, so you can definitely contribute.

[2017-12-12 21:18] psarvesh commented on #34
@faheel Great. I am writing the code under Algos/C++/include/data_structures/ directory.

[2017-12-14 16:46] dfotis opened #145 "Cryptographic algorithms"
Hi there, I 'd like to implement a few basic cryptographic algorithms like Triple DES, RSA etc.

[2017-12-17 11:21] faheel commented on #145
Sure! You can each algorithm under `C++/source/cryptography/`, and commonly used functions under `C++/include/cryptography/`

[2017-12-24 10:50] faheel commented on #21
This issue lead to the creation of a library! Check out https://github.com/faheel/BigInt

[2017-12-24 10:50] #21 closed, assigned to nobody

[2017-12-25 14:04] faheel commented on #34
Closed in commit ddf43b227e7301d3afef6df28f75c0e6cc6fecf6.

[2017-12-25 14:04] #34 closed, assigned to nobody

[2017-12-29 19:43] psarvesh commented on #40
@faheel Is this under development by anyone? (No pull requests)

If no one is working on this, I will take this up.

[2017-12-29 20:08] faheel commented on #40
@psarvesh Doesn't look like anyone's working on it, so you can 👍

[2018-01-08 20:32] eskeype opened #148 "Random Data Structures and Algorithms"
Hello, I thought it would be nice to add a folder for some random data structures and algorithms, and I would like to contribute to it. We could include things like the Fisher-Yates shuffling algorithm, reservoir sampling algorithms, and efficient implementations of collections with that include a 'get random' function

[2018-01-08 20:35] eskeype commented on #79
Has anyone completed this algorithm yet? If not I would like to take it

[2018-01-10 21:28] faheel commented on #148
Sure! That'd be great!

[2018-01-18 19:09] asas2016SEC opened #149 "Search algorithms"
* [ ] Jump search
* [ ] Fibonacci search
* [ ] Exponential search
* [ ] Interpolation search

[2018-01-22 16:25] DionisioII opened #151 "Dijkstra Algorithm"
I would like to add an implementation of the Dijkstra algorithm.

input: path to a txt file as a command line argument. The txt file will contain the data matrix for  distances between nodes(the [i,j] element will represent distance from i to j).

program asks user for source node.

output: distance and path from source node to every other node in the graph.

Let me know if I can work on this

[2018-01-27 04:07] hijajoo opened #153 "Longest Increasing Subsequence"
I would like to do an implementation of Longest Increasing Subsequence in C++.
Problem statement:
Given an unsorted array of integers, return the longest increasing subsequence.

[2018-01-27 04:23] hijajoo opened #154 "Lowest Common Ancestor of a binary tree"
I would like to do an implementation of Lowest Common Ancestor of a binary tree in C++.
Problem statement:
Given the root of a Binary tree, and two nodes, find the lowest common ancestor of both nodes and return it.

[2018-02-02 17:51] videetssinghai opened #158 "Diagonal Traversal of a Binary Tree"
I would like to implement a diagonal traversal of a binary tree in C++ given the root

[2018-02-06 04:47] cheikhSall opened #160 "Topological Sort"
Hi,
I would like to do an implementation of Topological short in C++.
enter :  a directed graph (  template vector ).
exit :  a linear ordering of its vertices .
thanks.

[2018-02-20 06:51] kcw9796 opened #162 "Minimax Algorithm"
I don't see any minimax algorithm with alpha beta pruning for solving adversarial search like winning tic tac toe. Can I add this algorithm?

[2018-02-20 19:37] faheel commented on #162
Sure! You can add related code for it in `C++/include/game_theory/minimax.hpp`, and unit tests in `C++/test/game_theory/minimax.test.cpp`.

[2018-02-20 23:19] faheel opened #163 "Reorganise C++ code into header files"
In order to maximise code reuse, it would be better to organise all C++ code into header files. This would allow one to include code from one file, say for `quicksort()`, and use in another file without reimplementing it again. This is not possible for most of the code now since it exists in `.cpp` files having a `main()` function, and so cannot be included in other files as the `main()` gets incl

[2018-02-20 23:21] faheel commented on #163
This task is currently ongoing on the [`reorganise` branch](https://github.com/faheel/Algos/tree/reorganise).

[2018-03-01 06:24] youteekarsh opened #164 "String split function"
Hello Sir

The program will breakdown an input sentence into words and store the separate words in an array of strings. This function comes predefined in some high level languages.

[2018-03-01 15:07] faheel commented on #164
Sure. You can use the `std::string::substr()` method and create a wrapper function (named `splice()` for example) that passes the right arguments to it. For example:
[code]
This can be implemented under `C++/include/algorithm/string/utils.hpp`.

[2018-03-01 17:43] youteekarsh commented on #164
Thankyou Sir

I will implement this program by this week following all the contribution guidelines.

[2018-03-04 23:26] faheel commented on #164
@youteekarsh Sorry for my misinterpretation of what you wanted to implement. I mistook it to be a function that does the same thing as `string[start:end]` would do in Python, but I now understand that it would return a list of strings that were separated by a given delimiter in the original string, the same way as `string.split(delimiter)` works in Python.

[2018-03-10 19:02] YashAndonia commented on #96
#Algorithm for merging the two binary search trees, using a single common root node creation
 #[bin_tree_combiner_algo.txt](https://github.com/faheel/Algos/files/1799701/bin_tree_combiner_algo.txt)

[2018-03-15 17:13] commit2gaming commented on #88
Hello Faheel, I'm learning C++ and I would like to contribute to your project.
Is this issue still open? If not, can you suggest me another easy one?
Thanks

[2018-04-10 07:21] chamow97 opened #167 "Lowest Common Ancestor"
It would be great if there is Lowest Common Ancestor Algorithm in the repository.

[2018-04-18 20:59] faheel commented on #87
Closed in #105

[2018-04-18 20:59] #87 closed, assigned to nobody

[2018-04-25 16:25] camilne commented on #167
I can implement this for a BST. Also, see #154.

[2018-04-28 07:31] khannagautam opened #170 "How about some graph algorithms?"
Algorithms like BFS , DFS , Dijkstra, Bellman Ford and Floyd Warshall could be added.

[2018-04-28 07:33] khannagautam commented on #170
I would like to add my implementations of these algortihms.

Let me know if I can work on this.

[2018-04-28 18:39] faheel commented on #170
Graph algorithms are really important. It's just that as I mentioned in #70, it's first necessary to implement the graph data structure (both directed and undirected) so that all graph algorithms use the same interface for graphs. As you can see already, I didn't get the time to implement it yet, but now since you've brought up the issue I'll get working on it ASAP because I too want to have as ma

[2018-04-28 18:42] faheel commented on #170
Also, note that the issue for graph algorithms is #70, so please continue any future discussion there. Though, I'll still keep this issue open until the graph data structure is implemented.

[2018-04-29 00:43] chamow97 commented on #167
I have a code ready. So, can I directly give PR?

[2018-04-29 04:07] camilne commented on #167
See #169

[2018-04-29 13:09] chamow97 commented on #167
That is just for BST I guess.

[2018-04-29 13:10] #167 closed, assigned to nobody

[2018-06-30 20:45] ColeSeverson opened #172 "Comb Sort"
I would like to add Comb Sort to the algorithms

[2018-07-18 11:45] heisenberg-2505 opened #174 "Adding more dynamic programming algorithms"
Adding more famous dynamic programming problems like the Knapsack problem.

[2018-08-01 14:12] alxmjo opened #175 "Still in active development?"
The most recent commit on this repo is from February. Is it still being maintained?

[2018-08-03 04:48] faheel commented on #175
I was working on reorganising the project and on improving the documentation (in both the code and Markdown) on the [`reorganise`](https://github.com/faheel/Algos/tree/reorganise) branch, but that was a while ago and since then I got into other projects and wasn't able to spend time on maintaining Algos.

I intend to get back at it as soon as I can, but that would be in about a month from now. So

[2018-08-03 14:27] alxmjo commented on #175
I'd love to help. I'm in the middle of a software/firmware internship and am realizing that working through this repo was one of the best things I did to prepare. There's a lot of teaching and learning potential here so I'd really like to help keep it up.

Do you have a to-do list of changes that you'd like to make? Or are you just working through issues? How can I help?

[2018-08-06 04:25] faheel commented on #175
@alxmjo That's great! I'll create a project board with the tasks that need to be done first. Having a clear road-map and organizing / cleaning up open issues and PRs would make it easier for everyone to contribute. Give me a day or two to set up the project board and then we can start collaborating on the tasks.

[2018-08-06 14:27] alxmjo commented on #175
@faheel Awesome! Looking forward to helping out.

[2018-08-10 06:53] sms7182 opened #176 "Fibonacci Number Alg"
hi
i don't see Fibonacci Algorithm ,do you want add Fibonacci Algorithm?

[2018-08-10 06:55] sms7182 commented on #176
if any other algorithm you want please tell i want implement ,

[2018-08-16 05:31] faheel commented on #176
Hi @sms7182, thank you for your interest in contributing to Algos. There are 2 implementations of Fibonacci currently in [`C++/source/number_theory`](https://github.com/faheel/Algos/tree/master/C%2B%2B/source/number_theory).

If you'd like to implement other algorithms, then you can open a new issue for those.

[2018-08-16 05:31] #176 closed, assigned to nobody

[2018-08-16 05:34] faheel commented on #175
@alxmjo Sorry for the late response. I have created a few projects for now. So we can start cleaning up the issues and reviewing pending PRs now. I've sent you an invite to become a collaborator.

[2018-08-18 00:31] hkhojasteh opened #177 "array, linked list, graph and tree algorithms"
I would like to do some implementation of the array, linked list, graph and tree algorithms in C++ as follows:
1. Sparse Matrix Multiplication algorithm
2. Polynomial multiplication using linked list
3. AVL (Adelson-Velskii and Landis) tree
4. Bellman–Ford
5. Prim Minimum Spanning Tree
6. Kruskal Minimum Spanning Tree
7. Salin Minimum Spanning Tree
*. Bucket sort

[2018-08-25 15:20] #175 closed, assigned to nobody

[2018-08-30 14:27] alxmjo commented on #101
https://github.com/faheel/Algos/pull/123

[2018-08-30 14:33] alxmjo commented on #101
#123

[2018-09-01 09:24] faheel commented on #80
Closing this since there haven't been any updates for a long time. Please open a new issue if you'd like to work on depth-first search.

[2018-09-01 09:24] #80 closed, assigned to nobody

[2018-09-01 09:32] faheel commented on #11
Closing this since there haven't been any updates for a long time. If you'd like to work on graph traversal algorithms, please open a new issue for each such algorithm.

[2018-09-01 09:32] #11 closed, assigned to nobody

[2018-09-01 09:35] faheel commented on #40
Closing this since there haven't been any updates for a long time. Please open a new issue if you'd like to work on red-black trees.

[2018-09-01 09:37] #40 closed, assigned to nobody

[2018-09-01 10:07] faheel commented on #48
Closing this since there haven't been any updates for a long time. Please re-open this issue or create a new one if you'd like to work on bad character algorithm.

[2018-09-01 10:07] #48 closed, assigned to nobody

[2018-09-01 16:37] korrat opened #187 "Doubly linked list"
There doesn't seem to be a doubly linked list here.
Can I add one?

[2018-09-03 04:46] faheel commented on #187
@korrat Thanks for your interest! Please read our [contribution guidelines](https://github.com/faheel/Algos/blob/master/CONTRIBUTING.md) before you start writing the code. Once you've done that, you can add the code in a header file named `doubly_linked_list.hpp` under `C++/include/data_structures/linked_list`. If you get stuck somewhere, or need some clarification on a topic, feel free to ask que

[2018-09-03 04:52] faheel commented on #177
Hey @hkhojasteh! Thanks for separating your PRs. Can you also please close this issue and open new ones that are specific to a single algorithm or data structure? It would be a huge help in tracking progress of what's been done and what still remains to be done.

P.S. I'll review your PRs soon, sorry for the delay.

[2018-09-03 05:00] faheel commented on #174
@heisenberg-2505 Sure, go ahead! Make sure to read the [contribution guidelines](https://github.com/faheel/Algos/blob/master/CONTRIBUTING.md) first, and then you can add either the 0/1 knapsack (in `0_1_knapsack.hpp`) or unbounded knapsack (in `unbounded_knapsack.hpp`), or both, under `C++/include/algorithm/dynamic_programming`.

Whichever you decide to add, please open a new issue for each one an

[2018-09-03 09:49] sumit9696 commented on #97
Is it done? Or can i do it?

[2018-09-03 10:49] heisenberg-2505 opened #188 "The 0-1 Knapsack Problem."
I would like to add the 0-1 Knapsack problem, a very famous Dynamic Programming algorithm.

[2018-09-03 10:49] heisenberg-2505 commented on #174
Okay.

[2018-09-03 10:57] heisenberg-2505 commented on #174
The path you have mentioned is not yet in the project. Should I create the directory?
Or should I add the file at `C++/source/dynamic_programming`

[2018-09-03 17:32] faheel commented on #174
You can create the directory `C++/include/algorithm/dynamic_programming` if it doesn't exist.

[2018-09-03 17:33] faheel commented on #174
Moving this conversation to #188.

[2018-09-03 17:33] #174 closed, assigned to nobody

[2018-09-03 17:50] faheel commented on #188
@heisenberg-2505 I have assigned this issue to you. Whenever you're done with the implementation, please submit a PR for it against the `reorganise` branch along with a [unit test](https://github.com/faheel/Algos/blob/reorganise/C%2B%2B/UNIT_TESTS.md).

[2018-09-03 17:55] faheel commented on #97
This was taken up by someone but was later abandoned. So, anyone who's interested in implementing it can take this up.

[2018-09-03 19:42] sumit9696 commented on #97
I want to do this.

[2018-09-03 20:14] alxmjo commented on #97
@sumit9696 Thanks for your interest! Please read our [Contributing Guidelines](https://github.com/faheel/Algos/blob/master/CONTRIBUTING.md) before you start writing the code. Once you've done that, add the code as a file named `edit_distance.hpp` under `C++/include/algorithm/string/`, and for the unit test `edit_distance.cpp` under `C++/test/algorithm/string/`. If you get stuck somewhere, or need

[2018-09-03 20:20] sumit9696 commented on #97
Thanks. Assign me this issue..I will start working on it now

[2018-09-04 08:00] heisenberg-2505 commented on #188
Should I create a cpp file only or also create a hpp file as you mentioned before?

[2018-09-04 08:54] ambuj-gahoi opened #190 "Kadane's Algorithm"

[2018-09-04 08:59] ambuj-gahoi commented on #190
I would like to add Kadane's Algorithm for maximum subarray sum problem. It is a famous dynamic programming algorithm.

[2018-09-04 12:41] alxmjo commented on #188
The `.hpp` file will be the algorithm, and the `.cpp` file (in the `test` directory) will be the unit test.

[2018-09-04 13:50] sarcastic-noob commented on #96
I would like to work on this issue.

[2018-09-04 18:30] heisenberg-2505 commented on #188
I have written the unit test but the make file is not running/compiling my unit test file.
The code in my test file is -

`#define KNAPSACK_TEST`
`#include "third_party/catch.hpp"`
`#include "algorithms/dynamic_programming/0_1_knapsack.hpp"`
`TEST_CASE("BASE CASES", "[knapsack]") {
  REQUIRE(knapsack (10, 3, [11, 21, 31], [1, 2, 3]) == 0);
}`
`#undef KNAPSACK_TEST`

[2018-09-04 18:37] heisenberg-2505 commented on #188
Do we need to make changes to some other file to make this work?

[2018-09-04 19:50] alxmjo commented on #188
I don't have my laptop with me so will have to answer your question later regarding compilation, but have you tried compiling using CMake? There are several examples in `CMakeLists.txt` of how to compile the unit test files.

[2018-09-05 04:11] alxmjo commented on #190
Thanks for your interest! Kadane's is already implemented [here](https://github.com/faheel/Algos/blob/master/C%2B%2B/source/maximum_subarray/kadane.cpp). How about refactoring it into an `.hpp` file as part of the reorganise effort? More details in #163.

[2018-09-05 06:55] #177 closed, assigned to nobody

[2018-09-05 12:20] sumit9696 commented on #97
In the unit test, it is mentioned that I need to make .cpp file which is the source file, but you told me to make .hpp file. Can u please help me in this?

[2018-09-05 14:36] alxmjo commented on #97
Definitely. The source code, which actually implements the edit distance algorithm, will go in the `.hpp` file. The unit tests for that algorithm will go in the `.cpp` file. To see what I'm talking about, check out binary search on the `reorganise` branch:
- [Binary search **implementation** (as `.hpp` file) in `/include/algorithm/searching/`](https://github.com/faheel/Algos/blob/reorganise/C%2B%2

[2018-09-05 15:50] alxmjo commented on #129
Putting on hold pending completion of reorganisation in #163.

[2018-09-05 16:36] sumit9696 commented on #97
Yes thanks and I will look into it and let you know.

[2018-09-05 16:40] heisenberg-2505 commented on #188
Where is the file you mentioned above, is located?

[2018-09-05 17:03] sumit9696 commented on #97
When I am doing make test, it is producing nothing. Why is it happening can u help?

[2018-09-05 17:05] alxmjo commented on #97
@sumit9696 Someone else is discussing this same issue with Faheel right now on Gitter. Have a look: https://gitter.im/Algos-f/Lobby?source=orgpage

Basically there are two ways of compiling the project and running tests, Make and CMake (which generates makefiles). The `make test` command corresponds to the makefile, whereas the project reorganisation is adding tests into CMake. Faheel knows more a

[2018-09-05 17:06] sumit9696 commented on #97
Thanks, I will look at it.

[2018-09-05 18:13] faheel commented on #97
@sumit9696 Sorry about the docs not having the complete information about adding and running tests. I'll update them.

[2018-09-05 18:36] alxmjo opened #192 "Contribution Guidelines out of sync between master and reorganise branches"
The Contribution Guidelines on the `reorganise` branch are inaccurate (they reference the wrong branch). They should reflect the (more up to date) Contribution Guidelines on the `master` branch.

Eventually they'll be merged into one, but this will prevent confusion in the interim.

[2018-09-06 17:33] shikherjaiswal commented on #153
I would like to work on this issue @hijajoo  @faheel

[2018-09-06 17:57] alxmjo commented on #153
Thanks for your interest! Please read our [contribution guidelines](https://github.com/faheel/Algos/blob/master/CONTRIBUTING.md) before you start writing the code. Once you've done that, you can add the code in a header file named `longest_increasing_subsequence.hpp` under `C++/include/algorithm/dynamic_programming/`. In addition, please add unit tests named `longest_increasing_subsequence.cpp` ve

[2018-09-07 12:27] DevRin opened #195 "Shunting Yard Algorithm"
I was wondering if you wanted to add Shunting-yard algorithm. If yes, I can do it.

[2018-09-08 02:22] ColeSeverson opened #196 "Longest Decreasing Subsequence"
I am adding a dynamically programmed longest subsequence algorithm

[2018-09-08 04:33] alxmjo commented on #196
Hi Cole. I just reviewed your PR. Faheel will have to take a look, too. But please note that we already have a PR pending for LIS: #194

[2018-09-08 04:34] alxmjo commented on #101
Closing due to inactivity.

[2018-09-08 04:34] #101 closed, assigned to nobody

[2018-09-08 04:45] alxmjo commented on #195
Definitely, and thanks for your interest! Please read our [contribution guidelines](https://github.com/faheel/Algos/blob/master/CONTRIBUTING.md) before you start coding.

You can add the code in `shunting_yard.hpp` under `C++/include/algorithm/string` and the unit tests in `shunting_yard.cpp` under `C++/test/algorithm/string`. Note that we're currently working in the `reorganise` branch, so please

[2018-09-08 07:45] heisenberg-2505 commented on #192
Hi, can I take this issue up?

[2018-09-08 14:38] alxmjo commented on #192
@heisenberg-2505 Please do! Let us know if you have any questions.

[2018-09-08 17:16] heisenberg-2505 commented on #192
To be clear, I only need to change the readme for the reorganise branch?

[2018-09-08 17:25] alxmjo commented on #192
Yep. Reorganise branch should say that we're currently working out of the reorganise branch, rather than master.

[2018-09-08 19:56] ColeSeverson commented on #196
On 2018-09-07 21:33, Alex Johnson wrote:

Sorry I did not realize that, Mine can also do longest decreasing sub
sequence as well. I can re make the pull request and change the code to
just be decreasing if needed.

[2018-09-08 20:01] ColeSeverson commented on #196
On 2018-09-07 21:33, Alex Johnson wrote:

I closed the pull request, I will make it purely decreasing instead

[2018-09-10 09:15] faheel commented on #192
Fixed in 2da9bebde2539b4a805ca4be11b9cbb67bb8fa7f.

[2018-09-10 09:15] #192 closed, assigned to nobody

[2018-09-10 15:18] alxmjo commented on #160
Hi @cheikhSall. Are you still interested in implementing this?

[2018-09-10 15:19] alxmjo commented on #158
Hi @videetssinghai. Are you still interested in implementing this?

[2018-09-22 16:22] harsha-vardhan-2 commented on #154
Is this issue still open? I'd like to work on this.

[2018-09-23 20:17] alxmjo commented on #154
Thanks for your interest! Please refer to our notes in #169, and note that that PR was implemented with the previous organization scheme, rather than the current scheme of code in header file and unit tests in `.cpp` file.  So yes, please feel free to start working on this, just keep that stuff in mind and make sure your commits are against and consistent with the `reorganise` branch.

Also, if yo

[2018-09-27 04:47] mrKappen commented on #172
I'll give this one a go :)

[2018-09-27 13:58] mrKappen commented on #172
Wait, sorry, did not realize there was already someone on this. My bad

[2018-09-27 14:14] mrKappen commented on #99
I am on it!

[2018-09-27 16:15] alxmjo commented on #99
@mrKappen Great! Also, if you're new to the repo and want to get your feet wet, a great way to do that is to migrate an algorithm to the new organization scheme, à la #201 and #202. Let me know if you have any questions.

[2018-10-02 12:21] probablyangg opened #210 "Edit Distance algorithm. [Dynamic Programming]"
I'd like to implement the edit distance algorithm between two strings.
[The minimum number of operations (insertions, deletions and substitutions of symbols) to transform one string to another.]
**Input:** two lines of input containing strings (latin characters)
**Output:** edit distance between the two strings.

[2018-10-03 08:45] faheel commented on #210
@angelgilhotra I just noticed that edit distance has already been implemented. You can contribute some other algorithm if you'd like.

[2018-10-03 08:46] faheel commented on #210
@angelagilhotra I just noticed that edit distance has already been implemented. You can contribute some other algorithm if you'd like.

[2018-10-03 08:51] probablyangg commented on #210
@faheel oh, my bad! I must've missed it. Could I do the dynamic programming implementation of Lowest Common Subsequence of two sequences?

[2018-10-03 18:33] ankur54 commented on #148
Hi!! I would like to contribute to it if the issue is still open!!

[2018-10-03 18:34] ankur54 commented on #151
Hi!! I would like to contribute to this issue if it is still open!!

[2018-10-03 18:35] ankur54 commented on #149
Hi!! I would like to contribute to it if it is still open!!

[2018-10-03 18:36] ankur54 commented on #154
Hi!! I would like to contribute to this issue if it is still open

[2018-10-03 18:37] ankur54 commented on #187
Is this issue still open? I would like to contribute to it!!

[2018-10-03 18:38] ankur54 commented on #164
Is this issue still open? I would like to contribute to it!!

[2018-10-03 18:39] ankur54 commented on #98
Is this issue still open? I would like to contribute to it!!

[2018-10-03 18:43] ankur54 commented on #55
Is the issue open? I would like to work on it

[2018-10-03 18:44] ankur54 commented on #60
Is this issue still open? I would like to contribute to it

[2018-10-03 18:44] ankur54 commented on #72
Is this issue open? I would like to contribute to it!

[2018-10-03 18:44] knotman90 commented on #55
@ankur54  I guess you can as I have not performed any action since then.

[2018-10-03 18:58] alxmjo commented on #148
Hey @ankur54. Seems like you're keen to get started. In addition to this issue, which you're welcome to start working on, please take a look at #163. We're currently prioritizing migrating the library from the old scheme (which you see under `master`) to the new (which you see under `reorganise`). It's also a great way to become familiar with the library. If you need a hint about how to go about i

[2018-10-04 07:46] ankur54 commented on #55
Should the Header file be .h or .hpp file?

[2018-10-04 07:49] ankur54 commented on #163
I'm interested to work in this issue!! Thus, please explain it!!

[2018-10-04 08:15] ankur54 commented on #55
Would a normal c++ code suffice or, do I have to code it in .h file?

[2018-10-04 10:52] youteekarsh commented on #164
I am not sure, faheel is the owner of this project he will confirm this.

[2018-10-04 10:58] ankur54 commented on #162
Hey! Is this issue still active? I would like to contribute

[2018-10-04 11:01] ankur54 commented on #160
Hello!! I would like to contribute to this issue!!

[2018-10-04 11:01] ankur54 commented on #158
Hi! I would like to contribute to this issue!!

[2018-10-04 11:06] ankur54 opened #211 "Adding Strongly Connected Components"
Can I add an algorithm to find strongly connected components in a DAG?

[2018-10-04 11:08] ankur54 commented on #170
I can implement Bellman Ford and Floyd Warshall algorithm. May I?

[2018-10-04 12:28] alxmjo commented on #55
Algorithm implementation goes in header (.hpp) file, unit tests go in .cpp file. Thanks!

[2018-10-04 12:36] alxmjo commented on #163
Hey @ankur54, thanks for your interest.

Basically, all the algorithms will move into `include/algorithm/<type of algorithm>/<filename>.hpp` (if it's a data structure, it will move into `include/data_structure/<filename>.hpp`). And then corresponding unit tests which actually execute that algorithm will be either moved to or created in the corresponding `test` folder, i.e., `test/algorithm/<type o

[2018-10-04 12:55] ankur54 commented on #163
Ok so, I need to create both the header (.hpp) file and the unit test file and include both of them in the include folder. Is that right?

[2018-10-04 12:56] ankur54 commented on #163
What about Random Algorithm and data structures?

[2018-10-04 12:57] alxmjo commented on #163
@ankur54 Header goes in `/include` and unit tests (as `.cpp` file) go in `/test`. #202 will show you how it all ends up. Same goes for data structures, etc.

[2018-10-06 19:43] wdsrocha opened #219 "Shortest Hamiltonian Cycle (TSP)"
Can I add the dynamic programming solution for the Travelling Salesman Problem (TSP)? If yes, is there any preference on weather it should be recursive or iterative?

[2018-10-16 05:51] faheel commented on #188
Closed in #191.

[2018-10-16 05:51] #188 closed, assigned to heisenberg-2505

[2018-10-16 06:09] #190 closed, assigned to nobody

[2018-10-25 15:09] apoorva-mk opened #225 "Square and multiply for fast exponentiation"
How about square and multiply technique for fast exponentiation

[2018-10-26 17:41] apoorva-mk opened #229 "euclidean algorithm"

[2018-10-26 17:56] apoorva-mk opened #231 "Extended euclidean algorithm to find modular inverse"

[2018-10-26 21:33] alxmjo commented on #229
Closing because already implemented.

[2018-10-26 21:33] #229 closed, assigned to nobody

[2018-10-26 21:33] alxmjo commented on #231
Closing because already implemented.

[2018-10-26 21:33] #231 closed, assigned to nobody

[2018-10-26 21:38] alxmjo commented on #225
Can you elaborate a bit on how you'd like to go about this? Which algorithm would you use?

[2018-10-29 11:46] faheel commented on #149
@ankur54 None of the above mentioned algorithms have been implemented yet, so you can give it a go.

[2018-11-13 21:10] ghost opened #237 "Hashing algorithms specified by FIPS PUB 180-4"
Hi! I'd like to implement the hashing algorithms specified by FIPS PUB 180-4 (i.e. SHA-1 and the SHA-2 family). I was thinking of starting with SHA-1 and then adding the others gradually...

[2018-11-17 19:34] sms7182 commented on #176
yes i like to implement please help me for implement ,so i need  you say that what to do.please tell me

[2018-12-29 07:10] karwashivani commented on #149
I would like to work on Fibonacci Search if its still open

[2019-01-01 00:53] t3nma opened #239 "Segment Trees"
Hello, I would like to contribute for this repository. Can I do it with the implementation for the Segment Tree data structure? If we're only allowed to contribute with algorithms I could also add, for example, the linearithmic solution for the longest increasing subsequence (LIS) problem.

[2019-01-14 15:57] imraniac commented on #149
I would like to contribute if its open.

[2019-05-29 18:07] ghost commented on #72
Many algorithms for linked lists are still not there; I would like to contribute; so where should I put those algorithms under the reorganise branch?

[2019-05-30 10:45] ghost commented on #225
It's probably the one called Al-Khwarizmi Multiplication Algorithm

[2019-05-30 15:12] apoorva-mk commented on #225
Hi, it's the implementation of fast modular exponentiation. https://en.wikipedia.org/wiki/Exponentiation_by_squaring. But I believe it has already been implemented.

[2019-06-02 21:51] faheel commented on #225
@apoorva-mk Yep, it's already implemented. Feel free to suggest any other algorithm or data structure to add.

[2019-06-02 21:51] #225 closed, assigned to nobody

[2019-06-02 21:56] faheel commented on #149
None of the search algorithms mentioned here have been implemented yet (except in #150 which wasn't merged), so contributions are welcome.

[2019-06-02 21:58] faheel commented on #237
@dudsan Having implementations of the SHA family would be nice to have!

[2019-06-02 23:14] faheel commented on #72
[Singly linked list](https://github.com/faheel/Algos/blob/reorganise/C%2B%2B/include/data_structures/singly_linked_list.cpp) has already been implemented in the `reorganise` branch, and there are two open PRs for doubly linked lists. So anyone looking to contribute algorithms for singly linked list can do so by creating a PR against the `reorganise` branch.

[2019-06-03 00:23] michan94 commented on #187
Hi there, I'd like to take on this issue if it's still available. Thanks

[2019-06-06 06:27] ghost commented on #72
So, should I add a new file named 'Algorithms on Singly Linked List' or something like that?
@faheel ?

[2019-06-08 15:53] faheel commented on #72
@jsahil730 You can implement it in a header file in `C++/include/data_structure/linked_list/singly_linked_list.hpp`

[2019-06-11 09:46] ghost commented on #72
@faheel  @alxmjo Please help me with an issue - I am having problems in implementing few algorithms on Linked Lists - for example Cycle finding algorithms can't be implemented with the given implementation of linked list as having both head, tail and length - A list whch has loop will have infinite size, so it can't be made with the shown implementation - and hence, the above algos become useless.

[2019-06-16 02:14] furahadamien opened #254 "Contributing new languages"
I want to contribute to this repository but my C++ knowledge is not solid. Can I make contributions in java? The repository description says that the algorithms are mostly in C++ but I don't see any that is not in C++.

[2019-06-17 23:11] alxmjo commented on #254
Thanks for your interest, Furaha. As you point out, the repo is solely C++ at this point, but adding other languages is something we'd like to do in the future. Faheel mentioned Go the other day, and I have a few other languages I'd love to see included.

All of that said, we want to be thoughtful about how we add languages, since one of the strengths of this project is that each algorithm is veri

[2019-06-20 00:25] #129 closed, assigned to nobody

[2019-06-24 11:24] faheel commented on #72
@jsahil730 Adding a constant member function, say `get_head`, to the `SinglyLinkedList` class that returns a constant copy of the `head` pointer should enable you to implement the cycle detection algorithm.

The following should work (though I haven't tested it yet):

[code]

(To understand what `const Node<T>* const` means, read it right to left: "constant pointer to a `Node<T>` that is constant"

[2019-06-24 14:39] #163 closed, assigned to faheel

[2019-06-24 18:21] faheel commented on #97
Implemented in #193.

[2019-06-24 18:21] #97 closed, assigned to nobody

[2019-06-24 18:29] faheel opened #257 "Measure code coverage"

[2019-06-25 00:55] alxmjo opened #258 "Improve contribution guidelines and documentation"
Going off of a conversation in #255, I think there's room to improve and clarify documentation and guidelines related to the project.

[2019-06-25 17:59] furahadamien commented on #254
Ooh yeah. Thanks for the response. I get what you mean. So basically if you were to allow contributing in another language I would have to build a similar set-up that you have in C++, but in the specific language that I want(java in my case). I will try to see if I can contribute in C++ because I feel like if I were to go ahead with my proposal, I would still need someone else to help with stuff l

[2019-06-25 18:05] alxmjo commented on #254
Sounds good. I think this is worth keeping open as the point of contact for discussions related to new languages.

[2019-06-25 19:10] alxmjo commented on #41
All of the **searching** algorithms currently have unit tests, but they don't have a _common_ unit test. However, there is a common test for **sorting**, which may be useful for implementing a common searching unit test.

[2019-06-26 10:40] faheel commented on #254
I too would like to have implementations in more languages (such as Go, Kotlin, Rust, Elixir and maybe even Python, Ruby and JavaScript/TypeScript), but I still haven't been able to figure out which approach would be the best to proceed with:

1. ### Mono-repo approach

   Create a sub-directory for each language, like it is for C++.

   #### Pros

    1. All of the code lives in one repo, which m

[2019-06-26 10:42] faheel commented on #254
Now that I've tried to list out the pros and cons, I think that the multi-repo approach will be better.

[2019-07-02 06:29] yashbansal6 commented on #43
Hope you don;t mind if I started working on this issue

[2019-07-25 15:33] #187 closed, assigned to korrat

[2019-07-25 18:16] alxmjo commented on #254
Closing based on conversation above. Thanks for bringing it up, @furahadamien.

[2019-07-25 18:16] #254 closed, assigned to nobody

[2019-07-25 18:20] alxmjo commented on #72
Note that we now have [singly linked list](https://github.com/faheel/Algos/blob/master/C%2B%2B/include/data_structure/linked_list/singly_linked_list.hpp) and [doubly linked list](https://github.com/faheel/Algos/blob/master/C%2B%2B/include/data_structure/linked_list/doubly_linked_list.hpp) data structures.

[2019-07-30 00:13] alxmjo commented on #41
@faheel Regarding a common test for searching algorithms, is it your belief that this should include ternary search? The interface and use of ternary search differs from the other two existing search algorithms (linear and binary), which makes me wonder if it would be more straightforward to have a common test for binary and linear (and similar algorithms which may be added later) and then a separ

[2019-07-30 06:39] faheel commented on #41
@alxmjo Having a common unit test for linear and binary search and a separate one for ternary search would be best.

[2019-07-30 06:53] faheel opened #261 "Accept a function as a parameter for ternary search"
The way ternary search works now is that it takes in a unimodal array and the pattern that the elements in it follow (do they first increase then decrease or do they first decrease then increase) and then returns either the largest or the smallest value in the array (depending on the pattern).

A more general implementation for ternary would be like the one mentioned on [Wikipedia](https://en.wiki

[2019-08-01 08:38] ritwik12 commented on #63
Closing being unappropriated.

[2019-08-01 08:38] #63 closed, assigned to nobody

[2019-08-04 11:52] faheel commented on #55
Since the recent code reorganisation, the code for this should now go in `include/algorithm/number_theory/euler_totient.hpp`.

[2019-08-15 22:29] #91 closed, assigned to nobody

[2019-08-15 22:29] #88 closed, assigned to nobody

[2019-08-15 22:29] #145 closed, assigned to nobody

[2019-08-15 22:29] #122 closed, assigned to nobody

[2019-08-15 22:29] #113 closed, assigned to nobody

[2019-08-15 22:29] #79 closed, assigned to nobody

[2019-08-15 22:29] #54 closed, assigned to nobody

[2019-08-15 22:30] #89 closed, assigned to nobody

[2019-08-15 22:30] #49 closed, assigned to nobody

[2019-08-15 22:30] #96 closed, assigned to nobody

[2019-08-15 22:30] #153 closed, assigned to nobody

[2019-08-15 22:30] #195 closed, assigned to DevRin

[2019-08-15 22:30] #196 closed, assigned to nobody

[2019-08-15 22:30] #172 closed, assigned to nobody

[2019-08-15 22:30] #210 closed, assigned to nobody

[2019-08-15 22:30] #151 closed, assigned to nobody

[2019-08-15 22:30] #154 closed, assigned to nobody

[2019-08-15 22:30] #98 closed, assigned to nobody

[2019-08-15 22:30] #60 closed, assigned to nobody

[2019-08-15 22:30] #148 closed, assigned to nobody

[2019-08-15 22:30] #160 closed, assigned to nobody

[2019-08-15 22:30] #158 closed, assigned to nobody

[2019-08-15 22:30] #211 closed, assigned to nobody

[2019-08-15 22:30] #170 closed, assigned to nobody

[2019-08-15 22:30] #219 closed, assigned to nobody

[2019-08-15 22:30] #239 closed, assigned to nobody

[2019-08-15 23:29] #69 closed, assigned to nobody

[2019-08-15 23:29] #116 closed, assigned to nobody

[2019-08-15 23:29] #84 closed, assigned to nobody

[2019-08-15 23:29] #58 closed, assigned to nobody

[2019-08-15 23:29] #109 closed, assigned to nobody

[2019-08-15 23:29] #90 closed, assigned to nobody

[2019-08-16 22:48] #149 closed, assigned to nobody

[2019-08-16 22:49] #237 closed, assigned to nobody

[2019-08-25 17:33] #258 closed, assigned to nobody

[2019-08-31 19:51] sylvaus commented on #261
I would love to take this issue

[2019-08-31 20:32] alxmjo commented on #261
@sylvaus It's yours!

[2019-09-22 06:16] mohsensafari commented on #257
Hi, what kind of reports should be generated? I can do it with gcov, it generates some html reports. is that ok?

[2019-09-22 18:09] ghost opened #265 "Geometrical and Network Flow Algorithms"
Hi! I'm new in GitHub Word! I found your project and I'm really interested in.i would like to contributing to your project with Geometrical and Network Flow Algorithms algorithms.
Thank You.
Have a nice Day!

[2019-09-23 09:51] faheel commented on #257
The coverage data obtained from gcov (or lcov) during the CI build needs to be uploaded to a code coverage service like [Codecov](https://codecov.io) which will generate the reports.

For reference, take a look at an example project with such a setup: [codecov/**example-cpp11-cmake**](https://github.com/codecov/example-cpp11-cmake)

[2019-09-25 22:29] alxmjo commented on #265
Welcome! Have a look at our [contribution guidelines](https://github.com/faheel/Algos/blob/master/.github/CONTRIBUTING.md) and then feel free to ask questions.

If you're new to the repo (and GitHub in general), it might be a good idea to add an algorithm in one of our established realms (searching, sorting, number theory, etc.) before branching out to other areas like network flow.

[2019-10-01 09:52] AlphaQ52 commented on #43
I will work on this

[2019-10-01 13:35] darelover commented on #43
@faheel I am interested in working on this. Do you mind assigning me this issue? Also, I have few doubts:

Should i implement two header files, one for each? or should i implement two functions in one header file only?

[2019-10-01 19:28] aidan-lane opened #269 "Find kth smallest number in an array"
Uses quick sort in O(1) space to find the kth smallest number in an array using divide and conquer approach.

[2019-10-03 08:01] mgroovyank commented on #269
Can I take up this issue? @alxmjo @faheel

[2019-10-03 17:37] Anita1017 commented on #70
hello faheel, I would like to contribute graph algos.

[2019-10-03 19:21] rashrey2308 opened #272 "Stack and Queue algorithms"
To add stack and queue algorithms using array and linked list.

[2019-10-07 06:18] Ankitagulati4 opened #277 "Binary Tree Traversal"
As I have seen there is no algorithm of level -order of trees included in this repository. Can I add it?

Algorithm                   Time Complexity                 Space Complexity
level-order                      o(n)                                      o(n)

[2019-10-07 07:31] Ankitagulati4 commented on #277
I am planning to add this code in the file.

/*
    Levelorder traversal
    ------------------
    This Algorithm visits and displays each node in the following order starting
    with the level wise first it visit all the nodes on level 0 then followed by 1 and so on.

    Time complexity
    ---------------
    Average case : O(n), where n is the number of nodes in the tree
    Worst case : O(n

[2019-10-07 19:27] #277 closed, assigned to nobody

[2019-10-08 19:42] #72 closed, assigned to nobody

[2019-10-09 22:46] JisooBrianKim commented on #43
Hi I would like to work on this

[2019-10-10 19:30] stratospher opened #282 "Quaternary Search"

[2019-10-12 07:22] arushi-16 opened #286 "circular linked list"

[2019-10-12 10:45] drashti1712 commented on #286
I'll add this

[2019-10-12 13:06] #286 closed, assigned to nobody

[2019-10-13 10:34] Paspasuy opened #289 "greatest_common_divisor_efficient"
I want to add new function which will count GCD faster.

[2019-10-15 18:22] Paspasuy commented on #289
Not efficient function uses O(n) memory because it needs to save recursion stack, while this function uses O(1) memory.

[2019-10-16 09:32] hhsdev opened #293 "AVL Tree"
Currently, there's no self-balancing BST implementation in the data_structures and AVL tree is a pretty common one.

I would like to work on this one, if possible.

[2019-10-17 07:19] anahita-singla opened #296 "Painting fence algorithm"
Given a fence with n posts and k colors,this algorithm finds out **the number of ways of painting the fence such that at most 2 adjacent posts have the same color**.
 Since answer can be large return it modulo 10^9 + 7.`

[2019-10-17 15:43] kstavrat commented on #269
Would it be alright if I helped as well? @alxmjo @faheel

[2019-10-18 13:00] #55 closed, assigned to nobody

[2019-10-18 13:00] #162 closed, assigned to nobody

[2019-10-18 13:00] #164 closed, assigned to nobody

[2019-10-18 19:35] ranaakash commented on #272
Can i take up this issue?

[2019-10-19 17:44] naveensaigit commented on #55
Can I work on this?

[2019-10-22 20:48] AymanAzzam opened #303 "sorting using templates"
I did quick sort using templates. there are other sorting algorithms needed to be done using templates

[2019-10-22 20:50] AymanAzzam commented on #303
i just added the algorithm it still need unit tests and document.

[2019-10-27 20:52] knotman90 commented on #55
Yes please. Make a pull request.

On Sat, 19 Oct 2019, 19:44 naveensaigit, <notifications@github.com> wrote:

[2019-10-27 21:29] haidtang commented on #269
Is there anyone working on it?
Can I take it? @alxmjo @faheel

[2019-10-27 21:39] alxmjo commented on #269
@haidtang Do it! 🙂

[2019-10-30 09:22] sadiya0312 commented on #296
I am interested in learning this algo and implementing it.

[2019-11-07 15:39] pauloty opened #320 "Coin Change Problem"
I implemented the classic Coin Change problem in Dynamic Programming.
Also, added some unit tests.

[2019-11-10 14:49] naveensaigit commented on #43
Hi, could I work on this issue?

[2019-11-14 21:00] #261 closed, assigned to nobody

[2019-11-15 06:28] snehalkhandve opened #322 "Add Data Structure : Threaded Binary Tree"
Threaded trees make it possible to perform inorder-traversal without the use of stack or recursion. Hence **optimization of space** is achieved . We should be able to distinguish threads from ordinary links, and this is achieved by maintaining a 2 bits for each node (left bit and right bit). If **bit is 0 it is a thread** else a link .

![TBT](https://user-images.githubusercontent.com/52536837/689

[2019-11-18 14:04] MarceloMoraesJr opened #323 "Data Structure: Heap"
I implemented a heap tree based on the comparison function passed by a template parameter. Which will make a min heap or a max heap depending on this function. Also, added some test cases.

[2019-11-23 22:22] #320 closed, assigned to nobody

[2019-12-07 11:09] #257 closed, assigned to nobody

[2019-12-09 23:28] #265 closed, assigned to nobody

[2019-12-24 20:55] #282 closed, assigned to nobody

[2019-12-29 19:01] #289 closed, assigned to nobody

[2019-12-30 10:54] #293 closed, assigned to nobody

[2020-01-01 21:16] #272 closed, assigned to nobody

[2020-01-04 16:45] kbodurri commented on #70
Hello @alxmjo and @faheel!

I am new to the open-source community, and I find this repo a great place to start contributing.

May I ask about the progress of the graph implementation (Adjacency Matrix and/or List)?  I could start by implementing them. If that's being taken care of already, I would like to implement any graph algorithm, such as Dijkstra's algorithm or graph traversal algorithms (DF

[2020-01-05 17:11] ghost commented on #41
Hey, I'd love to give this a crack. Let me know if the issue is still open for any left over algorithms.

[2020-01-05 17:19] ghost commented on #59
I can definitely get start on this, if it's still open.

[2020-01-05 21:14] #303 closed, assigned to nobody

[2020-01-10 22:46] #269 closed, assigned to nobody

[2020-01-13 10:47] #296 closed, assigned to nobody

[2020-01-24 00:57] sdorbala commented on #43
Hey, I have a working algorithm for this. Can I raise a PR for this?

[2020-01-24 17:07] chhawip commented on #70
Hello @faheel ! Since I am new to the open source community, I'd like to contribute to your repository for graph implementation algorithms. I could start implementing minimum spanning trees algorithms or something like pagerank or centralized graph algorithm.
If you want some specific implementation from me, kindly let me know.

[2020-01-29 09:24] #322 closed, assigned to nobody

[2020-02-01 14:32] #323 closed, assigned to nobody

[2020-02-05 15:32] chhawip commented on #59
@faheel is this issue still up for grab? I can definitely contribute to it.

[2020-02-07 06:45] faheel commented on #59
@safderareepattamannil and @itz-me9 Sorry for the late response. Yes, this issue is up for grabs and your contributions are welcome.

[2020-05-01 11:48] bendanon opened #328 "bucket / bin sort"
Hi,
Your sorting collection is missing bucket / bin sort.
Would be happy to add it :)

[2020-05-04 01:48] rtbowtie opened #330 "Housekeeping Update to Documentation"
1) Fixing broken links in the contents readme.md, 2) fixing a few issues in the Contribution Guidelines (including explicitly addressing reorganise branch), and updating the year in MIT License.

[2020-05-07 21:08] alxmjo commented on #41
@safderareepattamannil If you're still interested, we're still missing a common test for searching algorithms. Have a look at the common test for sorting algorithms for an idea of how you might implement it.

[2020-05-07 21:09] alxmjo commented on #43
Lots of interest in this issue. Anyone should feel free to give it a try.

[2020-05-07 21:38] #330 closed, assigned to nobody

[2020-05-08 13:54] alxmjo commented on #99
This also requires some thought as to what our goals would be regarding validation and how we would want to implement it in the project.

[2020-05-15 16:14] #328 closed, assigned to nobody

[2020-05-26 17:53] alxmjo opened #334 "Fix broken links in readme algorithm list"
Many of the links to specific algorithms in the [readme](https://github.com/ProAlgos/ProAlgos-Cpp/tree/master/C%2B%2B) are broken. It appears to mostly be sorting algorithms.

- [ ] Check that links direct to appropriate algorithm implementation (which will be a header file ending in `.hpp`).
- [ ] Fix broken links.

[2020-05-26 17:57] alxmjo commented on #70
There are several parts to this:

- Implement data structures for graph algorithms.
- Implement individual algorithms based on these data structures.

With that in mind, I'm going to close this issue and open new issues specific to the issues above. See #335.

[2020-05-26 17:57] #70 closed, assigned to nobody

[2020-05-26 18:05] alxmjo opened #335 "Implement data structures for graph algorithms"
In order to add graph algorithms, we must first add graph data structures. We'll need data structures for both directed and undirected graphs. We'll want to be able to add vertices and edges. In the end it'll be valuable to have implementations for both an adjacency list and an adjacency matrix.

If you're interested in adding this please explain your plan below so that we can get started. 🙂

See

[2020-05-27 23:17] a-moreira opened #336 "Add Heap's algorithm for string permutations"
I'd like to add the Heap's Algorithm to generate all permutations of a string. I've already implemented it according to the guidelines. Just need to polish some things up.

[2020-05-27 23:19] alxmjo commented on #336
Great! Let us know if you have any questions.

[2020-05-27 23:28] a-moreira commented on #336
@alxmjo Actually I have one. The Heap's Algorithm trusts the input has no duplicate elements since it does not distinguish between repeated permutations. I could deal with this by making it return a `std::set` with the permutations, but that would add an additional `log n` complexity. How should I proceed?

[2020-05-27 23:33] a-moreira commented on #334
I'll do that!

[2020-05-27 23:35] alxmjo commented on #334
It's yours. Thanks!

[2020-05-28 00:25] alxmjo commented on #336
I think that since the algorithm is predicated on the understanding that each element is unique it's okay to assume that and forgo the set implementation. This brings up a whole other conversation about verifying algorithm input, but as I said, I think that's a separate conversation.

Go ahead and implement it the way you had planned and then we can address issues as they come up.

[2020-05-28 02:24] a-moreira commented on #336
@alxmjo All right. I just added the pull request.

[2020-05-28 04:29] a-moreira commented on #335
I'm interested in doing this. I can implement adj. list and matrix for undirected graphs first. Do you think it's necessary to use classes?

[2020-05-28 18:27] alxmjo commented on #335
Yes. Have a look at [binary search tree](https://github.com/ProAlgos/ProAlgos-Cpp/blob/315150de907dc2a7d35088946efb653e8a0df90e/C%2B%2B/include/data_structure/tree/binary_search_tree.hpp) and the [linked list](https://github.com/ProAlgos/ProAlgos-Cpp/tree/315150de907dc2a7d35088946efb653e8a0df90e/C%2B%2B/include/data_structure/linked_list) data structures.

[2020-05-28 19:02] beardbytes commented on #335
Hello , I am interested in taking up the issue . I am currently new to open source and have been working on DSA for building my base foundation .

[2020-05-28 19:03] a-moreira commented on #335
@alxmjo OK, I'll implement them that way.

[2020-05-28 19:29] beardbytes opened #339 "Add array's algorithm"
I can post one algorithm per week .

[2020-05-28 19:37] beardbytes commented on #99
I am interested and new to open source

[2020-05-28 19:40] beardbytes commented on #41
@alxmjo Hey, I am interested to give it a try !

[2020-05-28 20:35] alxmjo commented on #339
Great! Be sure to read our [contribution guidelines](https://github.com/ProAlgos/ProAlgos-Cpp/blob/master/.github/CONTRIBUTING.md).

[2020-05-28 20:35] #339 closed, assigned to nobody

[2020-05-28 20:39] alxmjo commented on #335
Thanks for the interest, @a-moreira and @maverick12345678. Assigning to @a-moreira since he mentioned it first. If still open after two weeks has passed I'll put it back up for grabs to give others a shot. 🙂

[2020-05-28 20:46] alxmjo commented on #99
Great! Have a look at PR #209. A lot of the work is already done but it was closed automatically a while ago (there were merge issues that were never sorted out).

[2020-05-28 20:58] beardbytes commented on #339
Sure .

[2020-05-29 17:00] beardbytes commented on #99
Alright ! I can't find the file .

[2020-05-29 17:02] alxmjo commented on #99
Try this: https://github.com/ProAlgos/ProAlgos-Cpp/pull/209/commits#diff-264aaf8546723aaccf7ce2e80d46ae3f

[2020-05-29 17:07] beardbytes commented on #99
Okay ! I am looking where the commit conflicts are present .

[2020-05-29 17:12] alxmjo commented on #99
Might be easiest to just add the file from scratch rather than trying to manage conflicts. I think the folder organization is good, though. `include/utils/data_validation.hpp`. I think it would be better to separate the random number generation into a different file. And of course we'll want to add unit tests for anything we add.

[2020-05-29 17:16] beardbytes commented on #99
Okay . So , just to be clear .
I have to make a new file in the include/utils directory . And I have to add data validation functions in this file along with unit tests !

[2020-05-29 17:26] alxmjo commented on #99
Yep!

- [ ] Create a new file under `include/utils` called `data_conversion.hpp` (I think this title is a better reflection of the fact that we're converting cases of characters – we could add other data conversion functions later).
- [ ]  In that file add two functions: `make_upper_case()` and `make_lower_case()`. The random number generation can go in a different file later on.
- [ ] Add unit te

[2020-05-29 17:34] beardbytes commented on #99
Okay..Thanks for the explanation !

[2020-05-29 21:54] maverick12345678 commented on #99
I have made  a PR .
Could you check it --> https://github.com/ProAlgos/ProAlgos-Cpp/pull/340

[2020-05-30 00:12] #336 closed, assigned to nobody

[2020-05-30 00:41] #334 closed, assigned to a-moreira

[2020-05-31 04:46] hafraz07 opened #343 "Implement stack"
I wanted to implement a stack using a linked list. I noticed it hasn't been added yet.

[2020-05-31 14:07] alxmjo commented on #343
Great! I think you should be able to use the pre-existing linked list implementation under `data_structure`.

I've assigned it to you. If still open after two weeks has passed I'll put it back up for grabs to give others a shot. 🙂

[2020-06-02 00:21] alxmjo opened #344 "Command make all does not work"
[README.md](https://github.com/ProAlgos/ProAlgos-Cpp/blob/42060df5388e99bd8ab3dfaaa4afef67358fe288/C%2B%2B/README.md) in the `C++` directory gives the following directions for building:

However, when I download a fresh copy of the repo and run the command, I see the following:

[code]

Running `make` and `make default` both appear to have the desired effect. So, I think we should either update th

[2020-06-02 08:08] faheel commented on #344
Good catch! The `make all` command is from the time before I was using CMake. It was removed [here](https://github.com/ProAlgos/ProAlgos-Cpp/commit/0afe13cd72717b9c38495f204382a61c9ed8893d#diff-9c82112efcbd716213ae3d446a5e6474L45-L46) but the documentation wasn't updated then.

[2020-06-02 08:21] faheel commented on #344
Most of the the "Compiling" section in the documentation seems outdated now. It would be better to rewrite it completely, keeping in mind how the compilation process happens now using CMake and also how the Makefile helps in the process (by acting as a "helper script").

[2020-06-02 16:14] alxmjo commented on #344
I've just always run `make` and then `make test` whenever I wanted to run all tests. Is there a better way?

[2020-06-04 13:19] alxmjo opened #346 "Update repo to reflect focus on C++"
### Backstory
When @faheel originally started this project, it was imagined that algorithms and data structures would be implemented in multiple languages, with a separate directory for each language. Since then we've changed gears. Now this repo is specifically focused on C++. If and when other languages are added, they'll be added as new repos under the ProAlgos organization.

### Issue
There ar

[2020-06-06 18:26] #343 closed, assigned to hafraz07

[2020-06-09 00:53] LuisFerTR commented on #59
I can help with this, is still open? Any changes about what documentation should contain?

[2020-06-09 17:33] alxmjo commented on #59
@LuisFerTR Great! See the [readme for backtracking](https://github.com/ProAlgos/ProAlgos-Cpp/blob/master/C%2B%2B/include/algorithm/backtracking/README.md) for a guide for how to implement this.

In order to avoid duplicate work, though, please create a new issue describing which section of this you'll take (`number_theory`, `sorting`, etc.).

I'm going to leave this issue as **Up for grabs** since

[2020-06-09 17:42] LuisFerTR opened #350 "Add documentation for searching algorithms"
Hello everybody, I'm going to work on documentation for searching section, I'm creating this issue to avoid duplicate work.

[2020-06-09 17:45] alxmjo commented on #350
Note: This issue is based off of previous conversations in #59.

[2020-06-09 19:55] a-moreira commented on #335
@alxmjo Just to remind you I'm working on this :-) No need to put it back up for grabs yet!

[2020-06-10 06:30] 100sarthak100 commented on #59
@faheel is this issue still up for grabs?
I can add documentation for dynamic programming.

[2020-06-10 16:44] alxmjo commented on #59
@100sarthak100 Great! Just create a new issue for that particular section, as @LuisFerTR has done.

[2020-06-10 16:53] 100sarthak100 opened #352 "Add Documentation for Dynamic Programming"
@100sarthak100 Great! Just create a new issue for that particular section, as @LuisFerTR has done.

_Originally posted by @alxmjo in https://github.com/ProAlgos/ProAlgos-Cpp/issues/59#issuecomment-642129656_

[2020-06-10 16:55] 100sarthak100 commented on #352
Hello everyone, I'm going to work on the documentation of dynamic programming, leaving this comment here to avoid duplicate work.

[2020-06-10 17:28] #350 closed, assigned to nobody

[2020-06-11 03:29] #43 closed, assigned to nobody

[2020-06-13 02:20] #352 closed, assigned to nobody

[2020-06-13 18:06] #344 closed, assigned to nobody

[2020-06-13 18:06] #346 closed, assigned to alxmjo

[2020-06-14 01:37] ivy-2000 commented on #59
Hi!
I took a step further and added documentation to my forked repo, since the issue is up for grabs could I open a MR? @alxmjo
I understand if the issue needs to be assigned first.

[2020-06-14 02:33] alxmjo commented on #59
Great! Feel free to open a PR.

[2020-06-16 04:44] ghost commented on #59
Hi,
I'm trying to cover the documentation for sorting algorithms. I want to
include an example for Usage in each algorithm, but i don't understand how
to set the value of order and ShowState. These input functions are defined
in the utils file, could you guide me as to how these are supposed to be
called from a .cpp file.

### Usage
[code]

Is this correct?

On Sun, 14 Jun 2020 at 08:03, Alex John

[2020-06-16 12:46] alxmjo commented on #59
Hi @ivy-2000. You are on the right track. More specifically, the algorithms in this project are implemented as header files (ending in `.hpp`). These algorithms are then *called* from test files (ending in `.cpp`).

The complicating factor with the sorting algorithms is that we have *one* test file for all sorting algorithms ([`sorting.cpp`](https://github.com/ProAlgos/ProAlgos-Cpp/blob/master/cpp

[2020-06-16 21:32] a-moreira commented on #335
@alxmjo I implemented the adjacency matrix data structure for graphs plus some methods. I haven't written the tests yet, but I'd like some thoughts and comments before proceeding to do that and to implement the adjacency lists. Should I open a pull request to show the code?

[2020-06-16 21:43] alxmjo commented on #335
Of course. Just open it as a draft PR.

[2020-06-16 22:55] a-moreira commented on #335
@alxmjo I opened the draft PR. I forgot the comments about the time and space complexities, I'll add them in the next commit. They're fairly easy to guess, though.

[2020-06-17 03:30] LuisFerTR opened #356 "Reverse single linked list and double linked list data structure"
I noticed there's no algorithm to reverse neither single linked list nor double linked list in their respective hpp files, I would like to implement it if there's no problem.

[2020-06-17 03:58] alxmjo commented on #335
Thanks for the update. I won't be able to have a close look till this weekend or early next week. Thanks for being patient.

[2020-06-17 14:01] alxmjo commented on #356
Please do! Make sure to write tests, too. The tests can go in their preexisting test files.

[2020-06-23 12:34] ghost opened #358 "Add documentation for Sorting Algorithms"
This issue is based off of previous conversations in #59.
Going to include:

1. A small introduction to the Sorting Algorithm
2. Its usage
3. Time and Space Complexities.

[2020-06-23 15:26] #356 closed, assigned to LuisFerTR

[2020-07-20 17:59] parish09 opened #360 "ReadMe file for the sorting section"
Currently there are 12 sorting algorithms and a readme file would be very helpful.

[2020-07-20 18:04] alxmjo commented on #360
@parish09 Agreed! See the other readmes for guidance and post here with questions.

[2020-07-20 18:40] parish09 commented on #360
@alxmjo Sure! Will do.

[2020-07-29 17:51] #358 closed, assigned to nobody

[2020-07-29 17:51] #360 closed, assigned to nobody

[2020-08-05 16:32] amrii1 commented on #41
Hello,
Is still any unit tests that needs to be done

[2020-08-05 16:38] alxmjo commented on #41
@amrii1 Yes! See the post at the top of the thread. Currently still need a common test for linear and binary search, and then standalone test files for ternary search and radix sort. Please create a new issue if you have questions or would like to discuss implementation. 🙂

[2020-08-05 17:02] hafraz07 opened #363 "Implement Queue Data Structure"
Just wanted to add the implementation of a queue.

[2020-08-13 19:02] Yash-Thakare22 commented on #363
I wanted to work on this issue in C++

[2020-08-13 19:59] alxmjo commented on #363
Hi @YashThakare. Hafraz has already implemented this – I just haven't had time to review it yet. Perhaps there's something else you'd like to contribute?

[2020-08-15 09:05] Yash-Thakare22 commented on #363
@alxmjo I would to like to contribute in any domain. Please assign me some task

[2020-08-23 07:37] Avish34 commented on #335
Is this Issue Still Open? Actually I Would Like add more features to Graph Data Structure such as BFS, DFS, Cycle Detection etc.
Please revert back if you find it appropriate. Also if you have more issue or you want to enhance any feature of a Data Structure, I would be really interested and excited in doing it.

[2020-08-23 12:31] akshatjain04 commented on #335
I Would be glad to work on the algorithms of Graph for this issue,in case it is open, so kindly reply to this comment if the the issue is still open .

[2020-08-23 12:35] Manoj0803 commented on #335
I'm interested in this and I would like to work on articulation point and bridges. If it's still open.

[2020-08-23 12:43] bhavitjain commented on #335
I Would be glad to work on the algorithms of Graph for this issue, in case it is open, Also if you have more issue or you want to enhance any feature of a Data Structure, I would be really interested and excited in doing it.

[2020-08-23 12:44] dcyrus commented on #335
I would love to contribute, Can I work on it?

[2020-08-23 17:12] a-moreira commented on #335
@Avish34 @akshatjain04 @Manoj0803 @bhavitjain @dcyrus @alxmjo I am working on this. I've been a little slow because of the pandemics, but I'm going to update it soon. As soon as I finish the Matrix and Adj. List implementations you can implement some algorithms if you want.

[2020-08-26 03:53] vanichitkara commented on #59
Is this issue still up for grab? I can work on it!

[2020-09-13 17:12] #363 closed, assigned to nobody

[2020-09-13 17:17] alxmjo commented on #59
Yep!

[2020-09-13 17:19] alxmjo commented on #335
@a-moreira Since there are several other interested contributors, could we have an update on your progress?

[2020-09-14 01:39] a-moreira commented on #335
@alxmjo Sure. I will deliver the data structures and tests by the end of this week so everyone can start implementing the algorithms.

[2020-09-18 21:04] ddugovic opened #367 "Automate unit test execution"
GitHub automates builds on every commit (free for open source projects):
https://github.com/features/actions

[2020-09-25 07:18] alxmjo commented on #367
Thanks for this. Could you explain the benefit of using this system over our existing Travis CI system?

[2020-09-25 07:39] ddugovic commented on #367
Developers who fork this project would not need to create Travis accounts or create pull requests to observe test results for their forks.  (Of course Travis CI has many advantages, however it is possible to use both systems.)

[2020-09-28 15:30] SimonLammer commented on #335
@a-moreira Any progress / Is there anything I can help you with (although I'm hardly familiar with this repo)?
I've just learned several graph algorithms for building convex hulls and think it might be a good idea to implement them in this repo.

[2020-09-29 03:02] a-moreira commented on #335
@SimonLammer @Avish34 @akshatjain04 @Manoj0803 @bhavitjain @dcyrus Yes, sure. Anyone who wants to do the adjacency list implementation of a graph, and any algorithms using it, is welcome. I really won't be able to do that in the near future. Just read the docs and follow the guidelines. If you have questions, just ask @alxmjo or me.

[2020-10-01 02:15] ghost opened #371 "Documentation for Linked List DS"
Includes Singly and Doubly Lists.
#59

[2020-10-01 03:02] rishabhp99 commented on #59
I would like to work on this if this issue is till up for grab.

[2020-10-01 05:22] santushtisharma10 opened #373 "Pancake Sorting Algorithm"
@alxmjo I would like to add cpp code of Pancake Sorting Algorithm. The overall time complexity of the algorithm is O(n^2).

[2020-10-01 07:09] brijeshsos66 opened #376 "Printing all the permutations of a string/array."
In the Backtracking section, I would like to add CPP code for Printing all the permutations of a string/array. The Worst-case Time complexity is O(N*N!) & Space Complexity is O(N!).

[2020-10-02 17:57] syedareehaquasar opened #383 "Linked list data structure implementation in c is missing"

[2020-10-02 18:06] Srijan7777 commented on #383
can i contribute to this?
I have to add more LL implementation and algorithms right?

[2020-10-03 14:49] subhadeep1912 commented on #99
I would like to know whether I can still contribute??

[2020-10-04 10:00] alxmjo commented on #59
As long as there's documentation to be completed it's up for grabs. 🙂

[2020-10-04 10:01] alxmjo commented on #99
Definitely. Just reference this issue in your PR.

[2020-10-04 10:07] #367 closed, assigned to nobody

[2020-10-04 10:11] alxmjo commented on #367
Thanks for this! Merged.

[2020-10-04 10:21] alxmjo commented on #383
Hi @syedareehaquasar and @Srijan7777. You don't see a linked list data structure in C because this repository is focused on C++. Perhaps there's another data structure or algorithm you'd like to contribute? If so, please don't hesitate to open a new issue to discuss.

[2020-10-04 10:21] #383 closed, assigned to nobody

[2020-10-04 14:07] brijeshsos66 commented on #376
I tried it got failed, I will try again to make it work.

[2020-10-17 23:33] PhysicsUofRAUI opened #386 "Typo in Sorting Documentation"
Hey. I noticed that Radix Sort is mislabeled as being the eighth algorithm when it is actually the ninth algorithm. I'm going to quickly change it if that is ok.

[2020-10-17 23:52] PhysicsUofRAUI opened #388 "Fenwick Trees"
Hello. I want to add the Fenwick Trees to your list of data structures.

[2020-10-19 08:53] #386 closed, assigned to nobody

[2020-10-19 09:01] alxmjo commented on #388
Sorry it took me a couple days to get back to you. Please go ahead and let me know if you have any questions.

[2020-10-20 02:11] hitch-hiker42 commented on #335
I want to contribute to the cause, I'm writing a generic struct so that it works for both directed and undirected graph variants, and there are two versions: one uses the list representation, the other uses the matrix representation. The struct has the methods as you've mentioned: the constructor initializes the adjacency data structure (list or matrix) and sets the number of vertices and edges (i

[2020-10-20 12:08] alxmjo commented on #335
@hitch-hiker42 Others may be working on this issue, but don't let that keep you from working on them, too, especially if you'd like the practice.

[2020-10-20 12:53] hitch-hiker42 commented on #335
It is alright, I actually implemented it in the afternoon and I liked the practice indeed. Good day 😄

[2020-10-20 17:07] PhysicsUofRAUI commented on #388
Hey! I was wondering if it should be in the trees folder? Conceptually Fenwick Trees are trees but when implemented they are just a flat array. Currently I plan to add it to the trees folder.

[2020-10-20 17:09] alxmjo commented on #388
I agree – filing under trees makes more sense.

[2020-10-24 00:05] PhysicsUofRAUI commented on #388
I want to add an example explaining how the two's complement and the AND operator work in this part of the code `index += (index & -index)` . I think it is a confusing part of the code. Should I add it in the comments or create a documentation file, like found in the algorithms, and add it there?

[2020-10-24 11:19] alxmjo commented on #388
Add it in the comments. I don't think I'd ever check a documentation file for that kind of clarification.

[2020-10-24 19:08] PhysicsUofRAUI commented on #388
OK. I was also wondering when I make the documentation file should I leave out the binary search tree documentation. I would be willing to do it later, but it might be better to have it in a separate commit.

[2020-10-25 13:17] alxmjo commented on #388
It's up to you. If you don't add now we'd certainly appreciate the addition later.

[2020-10-25 14:32] PhysicsUofRAUI commented on #388
I made a pull request with just the fenwick tree documentation and implementation. Next I can add the binary search tree documentation.

[2020-11-04 12:15] KyleSmith19091 opened #391 "String Hashing Function"
I would like to add a string hashing algorithm to allow for string comparison in O(1) time.

[2020-11-04 14:53] alxmjo commented on #391
Great! Let me know if you have any questions.

[2020-11-07 17:40] #388 closed, assigned to nobody

[2020-11-09 01:12] PhysicsUofRAUI opened #392 "Documentation for Binary Search Tree"
Hi. I want to add the documentation for the binary search tree.

[2020-11-09 08:11] alxmjo commented on #392
Great! Let me know if you have any questions.

[2020-11-29 18:05] PhysicsUofRAUI commented on #392
I have a question about the space complexity of the iterative tree traversal vs the recursive tree traversal. It seems to me that they should be different, but in the comments in the hpp file, they are listed as the same.

[2020-12-02 01:20] abarbee129 commented on #59
I would love to work on the number theory documentation if it is still available.

[2020-12-02 01:43] abarbee129 commented on #59
Hey I have a small change to make and I would like to make a pull request. I know the mechanics, but I don't know the best practices. Additionally I'm very very new to open source. Is anyone willing to help me with the process.

[2020-12-02 13:31] alxmjo commented on #59
@abarbee129 Definitely up for grabs. Read through our documentation and then let me know if you have any questions. 🙂

[2020-12-09 00:35] abarbee129 commented on #59
@alxmjo
I tried to push a small typo change to origin but I got an error because permission was denied to me. Can you help me with that?
The error says `Permission to ProAlgos/ProAlgos-Cpp.git denied to abarbee129.`

[2020-12-09 08:44] alxmjo commented on #59
You should be pushing to your own fork, not directly to ProAlgos. What exact commands did you use to try to push?

[2020-12-14 15:12] 0xwal commented on #99
Opened a PR for upper/lower case ^ 🥳 and hopefully it closes this issue unless if random int/double still required : ) but I think they are different problems random != conversion 🤔

[2020-12-18 10:43] #371 closed, assigned to nobody

[2020-12-18 10:43] #373 closed, assigned to nobody

[2020-12-18 16:11] #376 closed, assigned to nobody

[2021-01-03 15:45] #335 closed, assigned to a-moreira

[2021-01-03 18:26] ghost opened #404 "Add Jump Search"
I would like to add the Jump Search Algorithm.

[2021-01-23 09:09] #391 closed, assigned to nobody

[2021-01-24 15:24] 0xwal commented on #99
@alxmjo Sorry for the mention. Please can you review my pull request, I would appreciate your feedback. Thank you.

[2021-01-27 05:48] alxmjo commented on #99
Sorry it's taken me a bit, but I've added this to my to-do list. Hopefully
by Saturday.

On Sun, Jan 24, 2021 at 7:25 PM Waleed Alharbi <notifications@github.com>
wrote:

[2021-02-06 19:04] PhysicsUofRAUI commented on #392
I have created a pull request with this. I put in the documentation that the space complexity is O(1) for the insert, remove and search. I think that might be wrong since it is different than what was in the comments, but I am not sure why.

Is it because the computer has to keep the whole tree in memory all the time or for some other reason? Sorry for my ignorance about space complexity.

[2021-02-08 09:06] ephi opened #410 "CMake modification to allow compilation on non-GCC"
If one uses CMake with VS2019 the flag Wextra causes build issues with visual studio 2019. This can be resolved if in the cmake file one adds if(CMAKE_COMPILER_IS_GNUCXX) check and ensures that switch is only added in this case.

[2021-02-10 14:15] faheel commented on #392
@PhysicsUofRAUI You've got it right. The space complexity is O(1) since a constant amount of extra space is required by these operations. In the comments too the space complexity is O(1) for these operations.

[2021-03-04 16:27] nandiniagrawal2000 opened #412 "Add Exponential search"
Exponential search  is a crucial searching algorithm and I would like to add it.

[2021-03-19 22:21] #404 closed, assigned to nobody

[2021-03-24 19:37] anishsingh935 commented on #412
can you please confirm me that weather this issues is open or closed??
 so that I can contribute if open !

[2021-03-25 06:08] nandiniagrawal2000 commented on #412
I have already made a pull request for this issue.

[2021-03-25 09:19] anishsingh935 commented on #412
ok
thanks

[2021-04-21 11:38] AdityaPrakash-26 opened #415 "Add Interpolation Search"
I would like to add Interpolation Search.

[2021-04-24 20:21] #410 closed, assigned to nobody

[2021-04-27 22:37] #392 closed, assigned to nobody

[2021-05-19 10:17] fdhelaan opened #417 "Radix Sort Test cases"
Hi,

If there isn't anyone working on this. I'd love to make it my first contribution.

[2021-06-09 02:47] #412 closed, assigned to nobody

[2021-06-12 12:56] arungmkumar opened #418 "make[1]: *** No targets specified and no makefile found. Stop"
Hello,

Hope everyone is dong fine.

I need a help here please. I forked and cloned the repo to my local (windows). And when I try to run make , I am getting below error. Not sure what I am missing though !

**********************************************************************
gmarunkumar@LFCPCSQ2 MINGW64 /c/Arun/GitHub/ProAlgos-Cpp/cpp (master)
$ ls -lrt
total 9
-rw-r--r-- 1 gmarunkumar 1049089

[2021-06-13 16:13] faheel commented on #418
@arungmkumar Does `make test` work?

[2021-06-14 07:50] arungmkumar commented on #418
@faheel
make test runs , but doesn't do anything. Just creates empty dirs bin and build.

gmarunkumar@LFCPCSQ2 MINGW64 /c/Arun/GitHub/ProAlgos-Cpp/cpp (master)
$ make test

gmarunkumar@LFCPCSQ2 MINGW64 /c/Arun/GitHub/ProAlgos-Cpp/cpp (master)
$ ls -lrt
total 9
-rw-r--r-- 1 gmarunkumar 1049089 6233 Jun 12 16:00 CMakeLists.txt
-rw-r--r-- 1 gmarunkumar 1049089  328 Jun 12 16:00 Makefile
drwxr-xr-x 1

[2021-07-05 16:43] #415 closed, assigned to nobody

[2021-07-20 02:28] denniskovshov commented on #417
I'm looking into this.

[2021-07-25 06:54] abdulwahab-alobaid-2191115290 commented on #41
hello the unit testing for the searching algorithms is checked in the readme.md , so is it still open or not ?
i am planning to work on that

[2021-07-26 18:34] faheel commented on #418
@arungmkumar You can try making this change in the Makefile and then run `make`:

[code]

[Source](https://stackoverflow.com/a/50514170/5245129)

[2021-07-26 18:36] faheel commented on #41
@abdulwahab-alobaid-2191115290 The unit tests for searching algorithms have already been added. You can pick up something else if you like.

[2021-07-27 13:30] arungmkumar commented on #418
@faheel
After the suggested change in Makefile , the below is the result.

gmarunkumar@LFCPCSQ2 MINGW64 /c/Arun/GitHub/ProAlgos-Cpp/cpp (master)
$ make
CMake Error: The source directory "C:/Arun/GitHub/ProAlgos-Cpp/cpp/build/install" does not exist.
Specify --help for usage, or press the help button on the CMake GUI.
Makefile:7: recipe for target 'default' failed
make: *** [default] Error 1

-----

[2021-08-20 13:32] dhnanj2 opened #421 "add "longest common subsequence in the given strings" problem"
The problem is standard-classical DP problem to determine the length of the longest common subsequence in the given pair strings.
know more about the problem here : https://www.geeksforgeeks.org/longest-common-subsequence-dp-4/
P.S. : I have read the contribution guidelines and would like to contribute and close this issue
P.S. : I searched for the above problem in DP section but later found it in

[2021-08-20 13:46] #421 closed, assigned to nobody

[2021-08-20 14:17] dhnanj2 opened #422 "add segment tree data structure"
Segment tree is a powerful DS to support range queries in an efficient way.
know more about it here : https://cp-algorithms.com/data_structures/segment_tree.html
I would love to contribute it to this project and close this issue.

[2021-08-25 17:15] Priyanshi-Chauhan commented on #422
Segment tree is a great tool in competitive programming and is very efficient in range queries. I have some good codes and knowledge to contribute. Perhaps come up with great solutions.
Can I contribute to this issue?

[2021-08-31 13:00] ishikagupta1919 opened #426 "Greedy algorithms."
Greedy algorithms can provide a simple and efficient approach to a problem. I would like to add a few programs that work on greedy solutions.

[2021-10-04 03:40] #417 closed, assigned to nobody

[2021-11-08 22:58] #422 closed, assigned to nobody

[2021-11-14 19:42] #426 closed, assigned to nobody

[2022-01-06 19:54] Pradeepcbk opened #427 "Algorithm for binary tree traversal"
Hi,

I have written a programm for binary tree traversal: https://github.com/Pradeepcbk/Algorithms-Cplusplus/blob/master/binaryTreeTraversal.cpp

I would like to update it in this repo and learn the art of unit testing, following coding guidelines and other software development skills.

Is anyone willing to review my code for this purpose?

Best regards,
Pradeep

[2022-01-08 19:47] kparaske opened #428 "Addition in data structures : AVL tree"
Hello,
I have noticed that in the data structures section there is no algorithm for the implementation of AVL tree. I would like to implement it and initiate a pull request.
Thank you and happy new year! :)

[2022-01-30 22:03] rohithv999 commented on #99
I am interested in contributing to this issue. Also, I am new to open source.

[2022-03-24 14:50] Pradeepcbk commented on #427
The code will be updated in a week's time.

[2022-03-28 00:40] #428 closed, assigned to nobody

[2022-05-27 19:26] lydiathiel commented on #41
I'm planning to submit testing for the radix search within a week or two.

[2022-06-05 20:21] faheel opened #431 "Fix radix sort"
Radix sort seems to be broken as pointed out in #430

[2022-06-10 18:59] #427 closed, assigned to nobody

[2022-10-01 03:40] shivani1706 opened #433 "Adding a new backtracking algorithm"
Need to add well known backtracking algorithm "Rat in a maze"

[2022-10-01 20:11] vedsom opened #435 "Want to add documentation for linked list"
@faheel I want to add documentation for singly and doubly linked lisi. Assign me this task if its up for grab.

[2022-10-01 20:14] vedsom commented on #59
@faheel, @alxmjo  I want to add documentation for linked list under hactoberfest 2022

[2022-10-02 19:58] ParthSaboo007 commented on #99
Hi @alxmjo I am interested in contributing to this repo as my first PR.

[2022-10-03 06:28] ChetasShree opened #436 "Kth largest element in an array using priority queues"

[2022-10-03 17:39] Zaid944 commented on #436
i would like to contribute for this issue as my first PR

[2022-10-03 21:22] ChetasShree commented on #436
since I raised it, so I think it should be assigned to me first :)

[2022-10-04 12:12] Khushi260 opened #437 "Euclidean algorithms"
The Euclidean algorithm is a way to find the greatest common divisor of two positive integers. GCD of two numbers is the largest number that divides both of them. A simple way to find GCD is to factorize both numbers and multiply common prime factors.

This is my first issue in opensource contribution
Consider this as contribution under hacktoberfest 2022.

[2022-10-04 16:44] omkar-karke opened #438 "Euler's Totient"
Euler's totient function (a.k.a. phi function) counts the number of positive integers from 1 to given number N that are coprime to N. That is, phi(N) is a number of positive integer m such that 1 <= m <= N and GCD(m, N) = 1.

This is my first issue in opensource contribution
Consider this as a contribution under hacktoberfest 2022.

[2022-10-04 21:40] Ashu-1309 commented on #41
What I have to do??
Do i have to write code???

[2022-10-06 20:51] Sanyam777 opened #441 "Sudoku Solver"